<section class="about">
    <div class="container">
        <h1 class="about__main-heading">
            О проекте
        </h1>

        <div class="about__content text__article-content">
            <div class="text__article-picture-with-text">
                <p class="text__article-picture-with-text-paragraph">
                    В нашей семье подарки – это священная тема. Мой сын в четыре с половиной года не расскажет стишок на английском, не знает всех букв алфавита, не нарисует лицо в деталях, но зато он дарит подарки.
                </p>
            </div>
            <img src="img/about-image.jpg" alt="" />
            <p>
                Когда он слышит слово «праздник», он интересуется, что мы подарим и кому. Открытки «сделай сам», пироги в подарок, цветы, что угодно.
            </p>

            <p>
                В два года его уже знали во всех цветочных киосках в округе. Он тащил туда папу с напором танка и кричал «маме цветы». Гордый папа ждал, пока ребенок выберет любимые мои хризантемы и гордо платил. Я сияла, когда из-за стеклянных
                витрин мне улыбались продавцы цветов, узнавшие моего сына.
            </p>

          
          
        </div>

        <div class="how-to-not-skip">
            <h2 class="how-to-not-skip__heading">
                Как ничего не пропустить
            </h2>
            <ul class="how-to-not-skip__list">
                <li class="how-to-not-skip__list-item">
                    <a href="#" class="how-to-not-skip__link">
                        <div class="how-to-not-skip__link-icon-container">
                            <img src="img/instagram.svg" alt="" class="how-to-not-skip__link-icon" />
                        </div>
                        <div class="how-to-not-skip__link-count">
                            <svg width="20" height="23" aria-hidden="true" class="icon-person">
                                <use xlink:href="#person" />
                            </svg>
                            150 000
                        </div>
                    </a>
                </li>
                <li class="how-to-not-skip__list-item">
                    <a href="#" class="how-to-not-skip__link">
                        <div class="how-to-not-skip__link-icon-container">
                            <img src="img/telegram.svg" alt="" class="how-to-not-skip__link-icon" />
                        </div>
                        <div class="how-to-not-skip__link-count">
                            <svg width="20" height="23" aria-hidden="true" class="icon-person">
                                <use xlink:href="#person" />
                            </svg>
                            150 000
                        </div>
                    </a>
                </li>
                <li class="how-to-not-skip__list-item">
                    <a href="#" class="how-to-not-skip__link">
                        <div class="how-to-not-skip__link-icon-container">
                            <img src="img/facebook.svg" alt="" class="how-to-not-skip__link-icon" />
                        </div>
                        <div class="how-to-not-skip__link-count">
                            <svg width="20" height="23" aria-hidden="true" class="icon-person">
                                <use xlink:href="#person" />
                            </svg>
                            150 000
                        </div>
                    </a>
                </li>
                <li class="how-to-not-skip__list-item">
                    <a href="#" class="how-to-not-skip__link">
                        <div class="how-to-not-skip__link-icon-container">
                            <img src="img/youtube.svg" alt="" class="how-to-not-skip__link-icon" />
                        </div>
                        <div class="how-to-not-skip__link-count">
                            <svg width="20" height="23" aria-hidden="true" class="icon-person">
                                <use xlink:href="#person" />
                            </svg>
                            150 000
                        </div>
                    </a>
                </li>
                <li class="how-to-not-skip__list-item">
                    <a href="#" class="how-to-not-skip__link">
                        <div class="how-to-not-skip__link-icon-container">
                            <img src="img/vk.svg" alt="" class="how-to-not-skip__link-icon" />
                        </div>
                        <div class="how-to-not-skip__link-count">
                            <svg width="20" height="23" aria-hidden="true" class="icon-person">
                                <use xlink:href="#person" />
                            </svg>
                            150 000
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="about__content text__article-content">

            <p>
                Когда он слышит слово «праздник», он интересуется, что мы подарим и кому. Открытки «сделай сам», пироги в подарок, цветы, что угодно.
            </p>

            <p>
                В два года его уже знали во всех цветочных киосках в округе. Он тащил туда папу с напором танка и кричал «маме цветы». Гордый папа ждал, пока ребенок выберет любимые мои хризантемы и гордо платил. Я сияла, когда из-за стеклянных
                витрин мне улыбались продавцы цветов, узнавшие моего сына.
            </p>
            <p>
                Ребенка полагается «развивать». Водить его по музеям, специальным занятиям, выставкам, давать ему бассейн, конный спорт, скрипку в руки и коньки на ноги. Мы не от мира сего, мы живем без конного спорта.
            </p>
            <p>
                Но мои дети рефлекторно при слове «гости» смотрят туда, где хранится мука, потому что мы печем торты в подарок.
            </p>
        </div>
    </div>
</section>
