<section class="all-courses">
    <div class="container">
        <h2 class="all-courses__heading">
            Курсы
        </h2>
        <div class="all-courses__slider js-all-courses-slider">
            <div class="all-courses__slider-label">
                Популярные
            </div>
            <div class="all-courses__slider-wrapper">
                <button class="all-courses__slider-arrow all-courses__slider-arrow--prev">
                    <svg width="18" height="30" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left" />
                    </svg>
                </button>
                <button class="all-courses__slider-arrow all-courses__slider-arrow--next">
                    <svg width="18" height="30" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right" />
                    </svg>
                </button>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="all-courses__slider-card" style="--gradient-color: 42, 22, 73; " ie-style="--gradient-color: 42, 22, 73; ">
                                <a href="#" class="all-courses__slider-card-image-container">
                                    <img src="img/courses/large-slider-image-1.jpg" alt="" class="all-courses__slider-card-image" />
                                </a>

                                <div class="all-courses__slider-card-image-overlay"></div>
                                <div class="all-courses__slider-card-content">
                                    <div class="all-courses__slider-card-content-top-row">
                                        <div class="all-courses__slider-card-top-row-info">
                                            <p class="all-courses__slider-card-top-row-category">
                                                Онлайн-марафон
                                            </p>
                                            <h5 class="all-courses__slider-card-top-row-heading">
                                                <a href="#">
                                                    Миссия родителей нашего времени
                                                </a>
                                            </h5>
                                            <div class="all-courses__slider-card-top-row-dates">
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Дата старта
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        Март 2020
                                                    </p>
                                                </div>
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Длительность
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        3 недели
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="all-courses__slider-card-content-text">
                                                <p>
                                                    4 недели, после которых ваши отношения с деньгами станут лучше, а мечты начнут исполняться
                                                </p>
                                            </div>
                                        </div>
                                        <div class="all-courses__slider-card-author">
                                            <div class="all-courses__slider-card-author-image-container">
                                                <img src="img/courses/avatar.jpg" alt="" class="all-courses__slider-card-author-image" />
                                            </div>
                                            <p class="all-courses__slider-card-author-name">Елена Сопилиди</p>
                                        </div>
                                    </div>

                                    <div class="all-courses__slider-card-content-bottom-row">
                                        <div class="all-courses__slider-card-content-price">
                                            <div class="all-courses__slider-card-content-price-new">
                                                от 29 999 ₽
                                            </div>
                                            <div class="all-courses__slider-card-content-price-old">
                                                от 9 999 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="all-courses__slider-card-buy-link">
                                            Купить
                                        </a>
                                        <a href="#" class="all-courses__slider-card-learn-link">
                                            Узнать больше
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="all-courses__slider-card all-courses__slider-card--dark-text" style="--gradient-color: 243, 230, 220; " ie-style="--gradient-color: 243, 230, 220; ">
                                <a href="#" class="all-courses__slider-card-image-container">
                                    <img src="img/courses/large-slider-image-2.jpg" alt="" class="all-courses__slider-card-image" />
                                </a>

                                <div class="all-courses__slider-card-image-overlay"></div>
                                <div class="all-courses__slider-card-content">
                                    <div class="all-courses__slider-card-content-top-row">
                                        <div class="all-courses__slider-card-top-row-info">
                                            <p class="all-courses__slider-card-top-row-category">
                                                Онлайн-марафон
                                            </p>
                                            <h5 class="all-courses__slider-card-top-row-heading">
                                                <a href="#">
                                                    Миссия родителей нашего времени
                                                </a>
                                            </h5>
                                            <div class="all-courses__slider-card-top-row-dates">
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Дата старта
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        Март 2020
                                                    </p>
                                                </div>
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Длительность
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        3 недели
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="all-courses__slider-card-content-text">
                                                <p>
                                                    4 недели, после которых ваши отношения с деньгами станут лучше, а мечты начнут исполняться
                                                </p>
                                            </div>
                                        </div>
                                        <div class="all-courses__slider-card-author">
                                            <div class="all-courses__slider-card-author-image-container">
                                                <img src="img/courses/avatar.jpg" alt="" class="all-courses__slider-card-author-image" />
                                            </div>
                                            <p class="all-courses__slider-card-author-name">Елена Сопилиди</p>
                                        </div>
                                    </div>

                                    <div class="all-courses__slider-card-content-bottom-row">
                                        <div class="all-courses__slider-card-content-price">
                                            <div class="all-courses__slider-card-content-price-new">
                                                от 29 999 ₽
                                            </div>
                                            <div class="all-courses__slider-card-content-price-old">
                                                от 9 999 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="all-courses__slider-card-buy-link">
                                            Купить
                                        </a>
                                        <a href="#" class="all-courses__slider-card-learn-link">
                                            Узнать больше
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="all-courses__slider-card" style="--gradient-color: 42, 22, 73; " ie-style="--gradient-color: 42, 22, 73; ">
                                <a href="#" class="all-courses__slider-card-image-container">
                                    <img src="img/courses/large-slider-image-1.jpg" alt="" class="all-courses__slider-card-image" />
                                </a>

                                <div class="all-courses__slider-card-image-overlay"></div>
                                <div class="all-courses__slider-card-content">
                                    <div class="all-courses__slider-card-content-top-row">
                                        <div class="all-courses__slider-card-top-row-info">
                                            <p class="all-courses__slider-card-top-row-category">
                                                Онлайн-марафон
                                            </p>
                                            <h5 class="all-courses__slider-card-top-row-heading">
                                                <a href="#">
                                                    Миссия родителей нашего времени
                                                </a>
                                            </h5>
                                            <div class="all-courses__slider-card-top-row-dates">
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Дата старта
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        Март 2020
                                                    </p>
                                                </div>
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Длительность
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        3 недели
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="all-courses__slider-card-content-text">
                                                <p>
                                                    4 недели, после которых ваши отношения с деньгами станут лучше, а мечты начнут исполняться
                                                </p>
                                            </div>
                                        </div>
                                        <div class="all-courses__slider-card-author">
                                            <div class="all-courses__slider-card-author-image-container">
                                                <img src="img/courses/avatar.jpg" alt="" class="all-courses__slider-card-author-image" />
                                            </div>
                                            <p class="all-courses__slider-card-author-name">Елена Сопилиди</p>
                                        </div>
                                    </div>

                                    <div class="all-courses__slider-card-content-bottom-row">
                                        <div class="all-courses__slider-card-content-price">
                                            <div class="all-courses__slider-card-content-price-new">
                                                от 29 999 ₽
                                            </div>
                                            <div class="all-courses__slider-card-content-price-old">
                                                от 9 999 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="all-courses__slider-card-buy-link">
                                            Купить
                                        </a>
                                        <a href="#" class="all-courses__slider-card-learn-link">
                                            Узнать больше
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="all-courses__small-slider js-small-courses-slider">
            <div class="all-courses__small-slider-top-row">
                <h3 class="all-courses__small-slider-heading">
                    <span class="all-courses__small-slider-heading-text">
                        курсы по психологии
                    </span>

                    <a href="#" class="all-courses__small-slider-heading-link">
                        Показать все
                    </a>
                </h3>

                <div class="all-courses__small-slider-arrows">
                    <button class="all-courses__small-slider-arrow all-courses__small-slider-arrow--prev">
                        <svg width="18" height="30" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left" />
                        </svg>
                    </button>
                    <button class="all-courses__small-slider-arrow all-courses__small-slider-arrow--next">
                        <svg width="18" height="30" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="all-courses__small-slider-wrapper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="all-courses__slider-card all-courses__slider-card--compact all-courses__slider-card--dark-text" style="--gradient-color: 225, 212, 232; " ie-style="--gradient-color: 225, 212, 232; ">
                                <a href="#" class="all-courses__slider-card-image-container">
                                    <img src="img/courses/card-type-1.jpg" alt="" class="all-courses__slider-card-image" />
                                </a>
                                <div class="all-courses__slider-card-tag">
                                    онлайн-марафон
                                </div>
                                <div class="all-courses__slider-card-image-overlay"></div>
                                <div class="all-courses__slider-card-content">
                                    <div class="all-courses__slider-card-content-top-row">
                                        <div class="all-courses__slider-card-top-row-info">
                                            <h5 class="all-courses__slider-card-top-row-heading">
                                                <a href="#">
                                                    Ребёнок, который привык, что его не слушают
                                                </a>
                                                
                                            </h5>
                                            <div class="all-courses__slider-card-top-row-dates">
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Дата старта
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        Март 2020
                                                    </p>
                                                </div>
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Длительность
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        3 недели
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="all-courses__slider-card-content-text">
                                                <p>
                                                    В нашей семье подарки – это священная тема. Мой сын в четыре с половиной года не расскажет стишок на английском, не знает всех букв алфавита
                                                </p>
                                            </div>
                                        </div>
                                        <div class="all-courses__slider-card-author">
                                            <div class="all-courses__slider-card-author-image-container">
                                                <img src="img/courses/avatar-1.jpg" alt="" class="all-courses__slider-card-author-image" />
                                            </div>
                                            <p class="all-courses__slider-card-author-name">Елена Сопилиди</p>
                                        </div>
                                    </div>

                                    <div class="all-courses__slider-card-content-bottom-row">
                                        <div class="all-courses__slider-card-content-price">
                                            <div class="all-courses__slider-card-content-price-new">
                                                от 29 999 ₽
                                            </div>
                                            <div class="all-courses__slider-card-content-price-old">
                                                от 9 999 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="all-courses__slider-card-buy-link">
                                            Купить
                                        </a>
                                        <a href="#" class="all-courses__slider-card-learn-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="all-courses__slider-card all-courses__slider-card--compact" style="--gradient-color: 8, 54, 48; " ie-style="--gradient-color: 8, 54, 48; ">
                                <a href="#" class="all-courses__slider-card-image-container">
                                    <img src="img/courses/card-type-2.jpg" alt="" class="all-courses__slider-card-image" />
                                </a>
                                <div class="all-courses__slider-card-tag">
                                    онлайн-марафон
                                </div>
                                <div class="all-courses__slider-card-image-overlay"></div>
                                <div class="all-courses__slider-card-content">
                                    <div class="all-courses__slider-card-content-top-row">
                                        <div class="all-courses__slider-card-top-row-info">
                                            <h5 class="all-courses__slider-card-top-row-heading">
                                                <a href="#">
                                                    Ребёнок, который привык, что его не слушают
                                                </a>
                                               
                                            </h5>
                                            <div class="all-courses__slider-card-top-row-dates">
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Дата старта
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        Март 2020
                                                    </p>
                                                </div>
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Длительность
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        3 недели
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="all-courses__slider-card-content-text">
                                                <p>
                                                    В нашей семье подарки – это священная тема. Мой сын в четыре с половиной года не расскажет стишок на английском, не знает всех букв алфавита
                                                </p>
                                            </div>
                                        </div>
                                        <div class="all-courses__slider-card-author">
                                            <div class="all-courses__slider-card-author-image-container">
                                                <img src="img/courses/avatar.jpg" alt="" class="all-courses__slider-card-author-image" />
                                            </div>
                                            <p class="all-courses__slider-card-author-name">Елена Сопилиди</p>
                                        </div>
                                    </div>

                                    <div class="all-courses__slider-card-content-bottom-row">
                                        <div class="all-courses__slider-card-content-price">
                                            <div class="all-courses__slider-card-content-price-new">
                                                от 29 999 ₽
                                            </div>
                                            <div class="all-courses__slider-card-content-price-old">
                                                от 9 999 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="all-courses__slider-card-buy-link">
                                            Купить
                                        </a>
                                        <a href="#" class="all-courses__slider-card-learn-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="all-courses__slider-card all-courses__slider-card--compact all-courses__slider-card--dark-text" style="--gradient-color: 243, 231, 219; " ie-style="--gradient-color: 243, 231, 219; ">
                                <a href="#" class="all-courses__slider-card-image-container">
                                    <img src="img/courses/card-type-3.jpg" alt="" class="all-courses__slider-card-image" />
                                </a>
                                <div class="all-courses__slider-card-tag">
                                    онлайн-марафон
                                </div>
                                <div class="all-courses__slider-card-image-overlay"></div>
                                <div class="all-courses__slider-card-content">
                                    <div class="all-courses__slider-card-content-top-row">
                                        <div class="all-courses__slider-card-top-row-info">
                                            <h5 class="all-courses__slider-card-top-row-heading">
                                                <a href="#">
                                                    Ребёнок, который привык, что его не слушают
                                                </a>
                                                
                                            </h5>
                                            <div class="all-courses__slider-card-top-row-dates">
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Дата старта
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        Март 2020
                                                    </p>
                                                </div>
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Длительность
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        3 недели
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="all-courses__slider-card-content-text">
                                                <p>
                                                    В нашей семье подарки – это священная тема. Мой сын в четыре с половиной года не расскажет стишок на английском, не знает всех букв алфавита
                                                </p>
                                            </div>
                                        </div>
                                        <div class="all-courses__slider-card-author">
                                            <div class="all-courses__slider-card-author-image-container">
                                                <img src="img/courses/avatar.jpg" alt="" class="all-courses__slider-card-author-image" />
                                            </div>
                                            <p class="all-courses__slider-card-author-name">Елена Сопилиди</p>
                                        </div>
                                    </div>

                                    <div class="all-courses__slider-card-content-bottom-row">
                                        <div class="all-courses__slider-card-content-price">
                                            <div class="all-courses__slider-card-content-price-new">
                                                от 29 999 ₽
                                            </div>
                                            <div class="all-courses__slider-card-content-price-old">
                                                от 9 999 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="all-courses__slider-card-buy-link">
                                            Купить
                                        </a>
                                        <a href="#" class="all-courses__slider-card-learn-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="all-courses__slider-card all-courses__slider-card--compact all-courses__slider-card--dark-text" style="--gradient-color: 225, 212, 232; " ie-style="--gradient-color: 225, 212, 232; ">
                                <a href="#" class="all-courses__slider-card-image-container">
                                    <img src="img/courses/card-type-1.jpg" alt="" class="all-courses__slider-card-image" />
                                </a>
                                <div class="all-courses__slider-card-tag">
                                    онлайн-марафон
                                </div>
                                <div class="all-courses__slider-card-image-overlay"></div>
                                <div class="all-courses__slider-card-content">
                                    <div class="all-courses__slider-card-content-top-row">
                                        <div class="all-courses__slider-card-top-row-info">
                                            <h5 class="all-courses__slider-card-top-row-heading">
                                                <a href="#">
                                                    Ребёнок, который привык, что его не слушают
                                                </a>
                                                
                                            </h5>
                                            <div class="all-courses__slider-card-top-row-dates">
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Дата старта
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        Март 2020
                                                    </p>
                                                </div>
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Длительность
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        3 недели
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="all-courses__slider-card-content-text">
                                                <p>
                                                    В нашей семье подарки – это священная тема. Мой сын в четыре с половиной года не расскажет стишок на английском, не знает всех букв алфавита
                                                </p>
                                            </div>
                                        </div>
                                        <div class="all-courses__slider-card-author">
                                            <div class="all-courses__slider-card-author-image-container">
                                                <img src="img/courses/avatar.jpg" alt="" class="all-courses__slider-card-author-image" />
                                            </div>
                                            <p class="all-courses__slider-card-author-name">Елена Сопилиди</p>
                                        </div>
                                    </div>

                                    <div class="all-courses__slider-card-content-bottom-row">
                                        <div class="all-courses__slider-card-content-price">
                                            <div class="all-courses__slider-card-content-price-new">
                                                от 29 999 ₽
                                            </div>
                                            <div class="all-courses__slider-card-content-price-old">
                                                от 9 999 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="all-courses__slider-card-buy-link">
                                            Купить
                                        </a>
                                        <a href="#" class="all-courses__slider-card-learn-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="all-courses__small-slider js-small-courses-slider">
            <div class="all-courses__small-slider-top-row">
                <h3 class="all-courses__small-slider-heading">
                    <span class="all-courses__small-slider-heading-text">
                        курсы про здоровье
                    </span>

                    <a href="#" class="all-courses__small-slider-heading-link">
                        Показать все
                    </a>
                </h3>

                <div class="all-courses__small-slider-arrows">
                    <button class="all-courses__small-slider-arrow all-courses__small-slider-arrow--prev">
                        <svg width="18" height="30" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left" />
                        </svg>
                    </button>
                    <button class="all-courses__small-slider-arrow all-courses__small-slider-arrow--next">
                        <svg width="18" height="30" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="all-courses__small-slider-wrapper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="all-courses__slider-card all-courses__slider-card--compact all-courses__slider-card--dark-text" style="--gradient-color: 225, 212, 232; " ie-style="--gradient-color: 225, 212, 232; ">
                                <a href="#" class="all-courses__slider-card-image-container">
                                    <img src="img/courses/card-type-1.jpg" alt="" class="all-courses__slider-card-image" />
                                </a>
                                <div class="all-courses__slider-card-tag">
                                    онлайн-марафон
                                </div>
                                <div class="all-courses__slider-card-image-overlay"></div>
                                <div class="all-courses__slider-card-content">
                                    <div class="all-courses__slider-card-content-top-row">
                                        <div class="all-courses__slider-card-top-row-info">
                                            <h5 class="all-courses__slider-card-top-row-heading">
                                                <a href="#">
                                                    Ребёнок, который привык, что его не слушают
                                                </a>
                                               
                                            </h5>
                                            <div class="all-courses__slider-card-top-row-dates">
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Дата старта
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        Март 2020
                                                    </p>
                                                </div>
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Длительность
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        3 недели
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="all-courses__slider-card-content-text">
                                                <p>
                                                    В нашей семье подарки – это священная тема. Мой сын в четыре с половиной года не расскажет стишок на английском, не знает всех букв алфавита
                                                </p>
                                            </div>
                                        </div>
                                        <div class="all-courses__slider-card-author">
                                            <div class="all-courses__slider-card-author-image-container">
                                                <img src="img/courses/avatar-1.jpg" alt="" class="all-courses__slider-card-author-image" />
                                            </div>
                                            <p class="all-courses__slider-card-author-name">Елена Сопилиди</p>
                                        </div>
                                    </div>

                                    <div class="all-courses__slider-card-content-bottom-row">
                                        <div class="all-courses__slider-card-content-price">
                                            <div class="all-courses__slider-card-content-price-new">
                                                от 29 999 ₽
                                            </div>
                                            <div class="all-courses__slider-card-content-price-old">
                                                от 9 999 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="all-courses__slider-card-buy-link">
                                            Купить
                                        </a>
                                        <a href="#" class="all-courses__slider-card-learn-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="all-courses__slider-card all-courses__slider-card--compact" style="--gradient-color: 8, 54, 48; " ie-style="--gradient-color: 8, 54, 48; ">
                                <a href="#" class="all-courses__slider-card-image-container">
                                    <img src="img/courses/card-type-2.jpg" alt="" class="all-courses__slider-card-image" />
                                </a>
                                <div class="all-courses__slider-card-tag">
                                    онлайн-марафон
                                </div>
                                <div class="all-courses__slider-card-image-overlay"></div>
                                <div class="all-courses__slider-card-content">
                                    <div class="all-courses__slider-card-content-top-row">
                                        <div class="all-courses__slider-card-top-row-info">
                                            <h5 class="all-courses__slider-card-top-row-heading">
                                                <a href="#">
                                                    Ребёнок, который привык, что его не слушают
                                                </a>
                                               
                                            </h5>
                                            <div class="all-courses__slider-card-top-row-dates">
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Дата старта
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        Март 2020
                                                    </p>
                                                </div>
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Длительность
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        3 недели
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="all-courses__slider-card-content-text">
                                                <p>
                                                    В нашей семье подарки – это священная тема. Мой сын в четыре с половиной года не расскажет стишок на английском, не знает всех букв алфавита
                                                </p>
                                            </div>
                                        </div>
                                        <div class="all-courses__slider-card-author">
                                            <div class="all-courses__slider-card-author-image-container">
                                                <img src="img/courses/avatar.jpg" alt="" class="all-courses__slider-card-author-image" />
                                            </div>
                                            <p class="all-courses__slider-card-author-name">Елена Сопилиди</p>
                                        </div>
                                    </div>

                                    <div class="all-courses__slider-card-content-bottom-row">
                                        <div class="all-courses__slider-card-content-price">
                                            <div class="all-courses__slider-card-content-price-new">
                                                от 29 999 ₽
                                            </div>
                                            <div class="all-courses__slider-card-content-price-old">
                                                от 9 999 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="all-courses__slider-card-buy-link">
                                            Купить
                                        </a>
                                        <a href="#" class="all-courses__slider-card-learn-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="all-courses__slider-card all-courses__slider-card--compact all-courses__slider-card--dark-text" style="--gradient-color: 243, 231, 219; " ie-style="--gradient-color: 243, 231, 219; ">
                                <a href="#" class="all-courses__slider-card-image-container">
                                    <img src="img/courses/card-type-3.jpg" alt="" class="all-courses__slider-card-image" />
                                </a>
                                <div class="all-courses__slider-card-tag">
                                    онлайн-марафон
                                </div>
                                <div class="all-courses__slider-card-image-overlay"></div>
                                <div class="all-courses__slider-card-content">
                                    <div class="all-courses__slider-card-content-top-row">
                                        <div class="all-courses__slider-card-top-row-info">
                                            <h5 class="all-courses__slider-card-top-row-heading">
                                                <a href="#">
                                                    Ребёнок, который привык, что его не слушают
                                                </a>
                                               
                                            </h5>
                                            <div class="all-courses__slider-card-top-row-dates">
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Дата старта
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        Март 2020
                                                    </p>
                                                </div>
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Длительность
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        3 недели
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="all-courses__slider-card-content-text">
                                                <p>
                                                    В нашей семье подарки – это священная тема. Мой сын в четыре с половиной года не расскажет стишок на английском, не знает всех букв алфавита
                                                </p>
                                            </div>
                                        </div>
                                        <div class="all-courses__slider-card-author">
                                            <div class="all-courses__slider-card-author-image-container">
                                                <img src="img/courses/avatar.jpg" alt="" class="all-courses__slider-card-author-image" />
                                            </div>
                                            <p class="all-courses__slider-card-author-name">Елена Сопилиди</p>
                                        </div>
                                    </div>

                                    <div class="all-courses__slider-card-content-bottom-row">
                                        <div class="all-courses__slider-card-content-price">
                                            <div class="all-courses__slider-card-content-price-new">
                                                от 29 999 ₽
                                            </div>
                                            <div class="all-courses__slider-card-content-price-old">
                                                от 9 999 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="all-courses__slider-card-buy-link">
                                            Купить
                                        </a>
                                        <a href="#" class="all-courses__slider-card-learn-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="all-courses__slider-card all-courses__slider-card--compact all-courses__slider-card--dark-text" style="--gradient-color: 225, 212, 232; " ie-style="--gradient-color: 225, 212, 232; ">
                                <a href="#" class="all-courses__slider-card-image-container">
                                    <img src="img/courses/card-type-1.jpg" alt="" class="all-courses__slider-card-image" />
                                </a>
                                <div class="all-courses__slider-card-tag">
                                    онлайн-марафон
                                </div>
                                <div class="all-courses__slider-card-image-overlay"></div>
                                <div class="all-courses__slider-card-content">
                                    <div class="all-courses__slider-card-content-top-row">
                                        <div class="all-courses__slider-card-top-row-info">
                                            <h5 class="all-courses__slider-card-top-row-heading">
                                                <a href="#">
                                                    Ребёнок, который привык, что его не слушают
                                                </a>
                                               
                                            </h5>
                                            <div class="all-courses__slider-card-top-row-dates">
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Дата старта
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        Март 2020
                                                    </p>
                                                </div>
                                                <div class="all-courses__slider-card-top-row-date">
                                                    <p class="all-courses__slider-card-top-row-date-key">
                                                        Длительность
                                                    </p>
                                                    <p class="all-courses__slider-card-top-row-date-value">
                                                        3 недели
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="all-courses__slider-card-content-text">
                                                <p>
                                                    В нашей семье подарки – это священная тема. Мой сын в четыре с половиной года не расскажет стишок на английском, не знает всех букв алфавита
                                                </p>
                                            </div>
                                        </div>
                                        <div class="all-courses__slider-card-author">
                                            <div class="all-courses__slider-card-author-image-container">
                                                <img src="img/courses/avatar.jpg" alt="" class="all-courses__slider-card-author-image" />
                                            </div>
                                            <p class="all-courses__slider-card-author-name">Елена Сопилиди</p>
                                        </div>
                                    </div>

                                    <div class="all-courses__slider-card-content-bottom-row">
                                        <div class="all-courses__slider-card-content-price">
                                            <div class="all-courses__slider-card-content-price-new">
                                                от 29 999 ₽
                                            </div>
                                            <div class="all-courses__slider-card-content-price-old">
                                                от 9 999 ₽
                                            </div>
                                        </div>
                                        <a href="#" class="all-courses__slider-card-buy-link">
                                            Купить
                                        </a>
                                        <a href="#" class="all-courses__slider-card-learn-link">
                                            Подробнее
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
