<section class="all-stories">
    <div class="container">
        <h1 class="all-stories__heading">
            Истории
        </h1>

        <div class="articles__navigation-wrapper">
            <div class="articles__navigation">
                <a href="#" class="articles__navigation-link">
                    Беременность
                    <span class="articles__navigation-count">
                        15
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Психология
                    <span class="articles__navigation-count">
                        40
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Здоровье
                    <span class="articles__navigation-count">
                        24
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Отцы и дети
                    <span class="articles__navigation-count">
                        24
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Обучение
                    <span class="articles__navigation-count">
                        24
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Законодательство
                    <span class="articles__navigation-count">
                        15
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Развлечения
                    <span class="articles__navigation-count">
                        40
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Обучение
                    <span class="articles__navigation-count">
                        24
                    </span>
                </a>

                <div class="articles__navigation-more">
                    <div class="articles__navigation-more-text">
                        Еще

                        <svg width="26" height="7" aria-hidden="true" class="icon-dots-small">
                            <use xlink:href="#dots-small" />
                        </svg>
                    </div>
                    <div class="articles__navigation-more-dropdown">
                        <div class="articles__navigation-more-dropdown-inner">
                            <a href="#" class="articles__navigation-link articles__navigation-link--more">
                                Обучение
                                <span class="articles__navigation-count">
                                    24
                                </span>
                            </a>
                            <a href="#" class="articles__navigation-link articles__navigation-link--more">
                                Развлечения
                                <span class="articles__navigation-count">
                                    24
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="all-stories__content">
            <ul class="all-stories__list">
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-1.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-2.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-3.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-4.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-1.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-2.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-3.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-4.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-1.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-2.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-3.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-4.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>

                <li class="all-stories__list-item all-stories__list-item--fullwidth">
                    {% include "blocks/courses.html" %}
                </li>

                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-1.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-2.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-3.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-4.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-1.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-2.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-3.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
                <li class="all-stories__list-item">
                    <a href="#" class="stories__card stories__card--purple">
                        <div class="stories__card-image-container">
                            <img src="img/stories/image-4.jpg" alt="" class="stories__card-image" />
                            <span class="stories__card-image-overlay"></span>
                            <div class="stories__card-image-container-content">
                                <h5 class="stories__card-title">
                                    Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                </h5>
                            </div>
                        </div>
                        <div class="stories__card-info-row">
                            <span class="stories__card-tag">
                                психология
                            </span>
                            <span class="stories__card-date">
                                15 июня
                            </span>
                            <span class="stories__card-views-count">
                                <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                    <use xlink:href="#eye-solid" />
                                </svg>
                                3k
                            </span>
                            <span class="stories__card-likes-count">
                                <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart-solid" />
                                </svg>
                                278
                            </span>
                        </div>
                    </a>
                </li>
            </ul>

            <a href="#" class="articles__load-more">
                Показать еще
            </a>
        </div>
    </div>
</section>
