<section class="all-videos">
    <div class="container">
        <h1 class="all-videos__heading">
            Видео
        </h1>

        <div class="all-videos__video-tabs js-video-tabs">
            <div class="all-videos__label">
                Новое
            </div>
            <div class="videos__content">
                <div class="videos__left-col">
                    <div class="videos__tab-items">
                        <div class="videos__tab-item active">
                            <a data-fancybox="videotabs" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos__card">
                                <div class="videos__card-image-container">
                                    <img src="img/videos/preview.jpg" alt="" class="videos__card-image" />

                                    <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                        <use xlink:href="#play" />
                                    </svg>
                                </div>

                                <div class="videos__card-content">
                                    <span class="videos__card-tag">
                                        новое
                                    </span>
                                    <h5 class="videos__card-title">
                                        Пока дети маленькие, мантра "дети расту
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="videos__tab-item active">
                            <a data-fancybox="videotabs" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos__card">
                                <div class="videos__card-image-container">
                                    <img src="img/courses/image-1.jpg" alt="" class="videos__card-image" />

                                    <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                        <use xlink:href="#play" />
                                    </svg>
                                </div>

                                <div class="videos__card-content">
                                    <span class="videos__card-tag">
                                        новое
                                    </span>
                                    <h5 class="videos__card-title">
                                        Пока дети маленькие, мантра "дети расту
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="videos__tab-item active">
                            <a data-fancybox="videotabs" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos__card">
                                <div class="videos__card-image-container">
                                    <img src="img/courses/image-2.jpg" alt="" class="videos__card-image" />

                                    <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                        <use xlink:href="#play" />
                                    </svg>
                                </div>

                                <div class="videos__card-content">
                                    <span class="videos__card-tag">
                                        новое
                                    </span>
                                    <h5 class="videos__card-title">
                                        Пока дети маленькие, мантра "дети расту
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="videos__tab-item active">
                            <a data-fancybox="videotabs" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos__card">
                                <div class="videos__card-image-container">
                                    <img src="img/videos/preview.jpg" alt="" class="videos__card-image" />

                                    <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                        <use xlink:href="#play" />
                                    </svg>
                                </div>

                                <div class="videos__card-content">
                                    <span class="videos__card-tag">
                                        новое
                                    </span>
                                    <h5 class="videos__card-title">
                                        Пока дети маленькие, мантра "дети расту
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="videos__right-col">
                    <div class="videos__tabs-nav">
                        <a href="#" class="videos__tabs-nav-card">
                            <div class="videos__tabs-nav-card-image-container">
                                <img src="img/videos/thumb.jpg" alt="" class="videos__tabs-nav-card-image" />
                            </div>
                            <h5 class="videos__tabs-nav-card-name">
                                Пока дети маленькие, мантра "дети расту
                            </h5>
                        </a>
                        <a href="#" class="videos__tabs-nav-card">
                            <div class="videos__tabs-nav-card-image-container">
                                <img src="img/videos/thumb.jpg" alt="" class="videos__tabs-nav-card-image" />
                            </div>
                            <h5 class="videos__tabs-nav-card-name">
                                Пока дети маленькие, мантра "дети расту
                            </h5>
                        </a>
                        <a href="#" class="videos__tabs-nav-card">
                            <div class="videos__tabs-nav-card-image-container">
                                <img src="img/videos/thumb.jpg" alt="" class="videos__tabs-nav-card-image" />
                            </div>
                            <h5 class="videos__tabs-nav-card-name">
                                Пока дети маленькие, мантра "дети расту
                            </h5>
                        </a>
                        <a href="#" class="videos__tabs-nav-card">
                            <div class="videos__tabs-nav-card-image-container">
                                <img src="img/videos/thumb.jpg" alt="" class="videos__tabs-nav-card-image" />
                            </div>
                            <h5 class="videos__tabs-nav-card-name">
                                Пока дети маленькие, мантра "дети расту
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="all-videos__cards">
            <ul class="all-videos__cards-list">
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item all-videos__cards-list-item--fullwidth all-videos__cards-list-item--subscription">
                    <div class="articles__subscription-card">
                        <div class="articles__subscription-card-content">
                            <h4 class="articles__subscription-card-title">
                                Получайте полезные статьи<br> на емайл
                            </h4>
                            <form action="/" method="POST" class="articles__subscription-card-form" data-parsley-validate>
                                <div class="articles__subscription-card-form-row">
                                    <div class="articles__subscription-card-form-input-wrapper">
                                        <input type="email" name="email" class="articles__subscription-card-form-input" placeholder="Электронная почта" required />
                                    </div>
                                    <button type="submit" class="articles__subscription-card-form-submit">
                                        Подписаться
                                    </button>
                                </div>
                                <p class="articles__subscription-card-form-policy">
                                    Подписываясь, вы соглашаетесь с политикой конфиденциальности.
                                </p>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
                <li class="all-videos__cards-list-item">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="videocard" class="all-videos__card">
                        <div class="all-videos__card-image-container">
                            <img src="img/videos/preview.jpg" alt="" class="all-videos__card-image" />

                            <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h5 class="all-videos__card-title">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </li>
            </ul>

            <a href="#" class="articles__load-more">
                Показать еще
            </a>
        </div>
    </div>
</section>
