<section class="articles">
    <div class="container">
        <div class="articles__label-wrapper">
            <div class="articles__label">
                Статьи
            </div>
        </div>
        <div class="articles__navigation-wrapper">
            <div class="articles__navigation">
                <a href="#" class="articles__navigation-link">
                    Беременность
                    <span class="articles__navigation-count">
                        15
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Психология
                    <span class="articles__navigation-count">
                        40
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Здоровье
                    <span class="articles__navigation-count">
                        24
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Отцы и дети
                    <span class="articles__navigation-count">
                        24
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Обучение
                    <span class="articles__navigation-count">
                        24
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Законодательство
                    <span class="articles__navigation-count">
                        15
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Развлечения
                    <span class="articles__navigation-count">
                        40
                    </span>
                </a>
                <a href="#" class="articles__navigation-link">
                    Обучение
                    <span class="articles__navigation-count">
                        24
                    </span>
                </a>

                <div class="articles__navigation-more">
                    <div class="articles__navigation-more-text">
                        Еще

                        <svg width="26" height="7" aria-hidden="true" class="icon-dots-small">
                            <use xlink:href="#dots-small" />
                        </svg>
                    </div>
                    <div class="articles__navigation-more-dropdown">
                        <div class="articles__navigation-more-dropdown-inner">
                            <a href="#" class="articles__navigation-link articles__navigation-link--more">
                                Обучение
                                <span class="articles__navigation-count">
                                    24
                                </span>
                            </a>
                            <a href="#" class="articles__navigation-link articles__navigation-link--more">
                                Развлечения
                                <span class="articles__navigation-count">
                                    24
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="articles__layout">
            <div class="articles__layout-main">
                <div class="articles__list-wrapper">
                    <ul class="articles__list">
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="img/articles/image-1.jpg" alt="Изображение статьи" class="articles__card-image" />
                                </div>
                                <h4 class="articles__card-name">
                                    Ребёнок, который привык, что его не слушаю
                                </h4>
                                <div class="articles__card-info-row">
                                    <span class="articles__card-tag">
                                        Психология
                                    </span>
                                    <span class="articles__card-date">
                                        15 июня
                                    </span>
                                    <span class="articles__card-views-count">
                                        <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                            <use xlink:href="#eye" />
                                        </svg>
                                        3k
                                    </span>
                                    <span class="articles__card-likes-count">
                                        <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart" />
                                        </svg>
                                        278
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="img/articles/image-2.jpg" alt="Изображение статьи" class="articles__card-image" />
                                </div>
                                <h4 class="articles__card-name">
                                    Ребёнок, который привык, что его не слушаю
                                </h4>
                                <div class="articles__card-info-row">
                                    <span class="articles__card-tag">
                                        Психология
                                    </span>
                                    <span class="articles__card-date">
                                        15 июня
                                    </span>
                                    <span class="articles__card-views-count">
                                        <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                            <use xlink:href="#eye" />
                                        </svg>
                                        3k
                                    </span>
                                    <span class="articles__card-likes-count">
                                        <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart" />
                                        </svg>
                                        278
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="img/articles/image-3.jpg" alt="Изображение статьи" class="articles__card-image" />
                                </div>
                                <h4 class="articles__card-name">
                                    Синдром ионы или сказ о том, как не зарыть талант в землю
                                </h4>
                                <div class="articles__card-info-row">
                                    <span class="articles__card-tag">
                                        Психология
                                    </span>
                                    <span class="articles__card-date">
                                        15 июня
                                    </span>
                                    <span class="articles__card-views-count">
                                        <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                            <use xlink:href="#eye" />
                                        </svg>
                                        3k
                                    </span>
                                    <span class="articles__card-likes-count">
                                        <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart" />
                                        </svg>
                                        278
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item articles__list-item--fullwidth articles__list-item--subscribe">
                            <div class="articles__subscription-card">
                                <div class="articles__subscription-card-content">
                                    <h4 class="articles__subscription-card-title">
                                        Получайте полезные статьи на емайл
                                    </h4>
                                    <form action="/" method="POST" class="articles__subscription-card-form" data-parsley-validate>
                                        <div class="articles__subscription-card-form-row">
                                            <div class="articles__subscription-card-form-input-wrapper">
                                                <input type="email" name="email" class="articles__subscription-card-form-input" placeholder="Электронная почта" required />
                                            </div>
                                            <button type="submit" class="articles__subscription-card-form-submit">
                                                Подписаться
                                            </button>
                                        </div>
                                        <p class="articles__subscription-card-form-policy">
                                            Подписываясь, вы соглашаетесь с политикой конфиденциальности.
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </li>

                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="img/articles/image-4.jpg" alt="Изображение статьи" class="articles__card-image" />
                                </div>
                                <h4 class="articles__card-name">
                                    Синдром ионы или сказ о том, как не зарыть талант в землю
                                </h4>
                                <div class="articles__card-info-row">
                                    <span class="articles__card-tag">
                                        Психология
                                    </span>
                                    <span class="articles__card-date">
                                        15 июня
                                    </span>
                                    <span class="articles__card-views-count">
                                        <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                            <use xlink:href="#eye" />
                                        </svg>
                                        3k
                                    </span>
                                    <span class="articles__card-likes-count">
                                        <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart" />
                                        </svg>
                                        278
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="img/articles/image-5.jpg" alt="Изображение статьи" class="articles__card-image" />
                                </div>
                                <h4 class="articles__card-name">
                                    Ребёнок, который привык
                                </h4>
                                <div class="articles__card-info-row">
                                    <span class="articles__card-tag">
                                        Психология
                                    </span>
                                    <span class="articles__card-date">
                                        15 июня
                                    </span>
                                    <span class="articles__card-views-count">
                                        <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                            <use xlink:href="#eye" />
                                        </svg>
                                        3k
                                    </span>
                                    <span class="articles__card-likes-count">
                                        <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart" />
                                        </svg>
                                        278
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="img/articles/image-6.jpg" alt="Изображение статьи" class="articles__card-image" />
                                </div>
                                <h4 class="articles__card-name">
                                    Ребёнок, который привык, что его не слушаю
                                </h4>
                                <div class="articles__card-info-row">
                                    <span class="articles__card-tag">
                                        Психология
                                    </span>
                                    <span class="articles__card-date">
                                        15 июня
                                    </span>
                                    <span class="articles__card-views-count">
                                        <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                            <use xlink:href="#eye" />
                                        </svg>
                                        3k
                                    </span>
                                    <span class="articles__card-likes-count">
                                        <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart" />
                                        </svg>
                                        278
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="img/articles/image-7.jpg" alt="Изображение статьи" class="articles__card-image" />
                                </div>
                                <h4 class="articles__card-name">
                                    Ребёнок, который привык, что его не слушаю
                                </h4>
                                <div class="articles__card-info-row">
                                    <span class="articles__card-tag">
                                        Психология
                                    </span>
                                    <span class="articles__card-date">
                                        15 июня
                                    </span>
                                    <span class="articles__card-views-count">
                                        <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                            <use xlink:href="#eye" />
                                        </svg>
                                        3k
                                    </span>
                                    <span class="articles__card-likes-count">
                                        <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart" />
                                        </svg>
                                        278
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="img/articles/image-8.jpg" alt="Изображение статьи" class="articles__card-image" />
                                </div>
                                <h4 class="articles__card-name">
                                    Ребёнок, который привык, что его не слушаю
                                </h4>
                                <div class="articles__card-info-row">
                                    <span class="articles__card-tag">
                                        Психология
                                    </span>
                                    <span class="articles__card-date">
                                        15 июня
                                    </span>
                                    <span class="articles__card-views-count">
                                        <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                            <use xlink:href="#eye" />
                                        </svg>
                                        3k
                                    </span>
                                    <span class="articles__card-likes-count">
                                        <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart" />
                                        </svg>
                                        278
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="img/articles/image-9.jpg" alt="Изображение статьи" class="articles__card-image" />
                                </div>
                                <h4 class="articles__card-name">
                                    Ребёнок, который привык, что его не слушаю
                                </h4>
                                <div class="articles__card-info-row">
                                    <span class="articles__card-tag">
                                        Психология
                                    </span>
                                    <span class="articles__card-date">
                                        15 июня
                                    </span>
                                    <span class="articles__card-views-count">
                                        <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                            <use xlink:href="#eye" />
                                        </svg>
                                        3k
                                    </span>
                                    <span class="articles__card-likes-count">
                                        <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                            <use xlink:href="#heart" />
                                        </svg>
                                        278
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="articles__load-more">
                        Показать еще
                    </a>
                </div>
            </div>
            <div class="articles__layout-sidebar">
                <div class="articles__popular-articles">
                    <h3 class="articles__popular-articles-heading">
                        популярные публикации
                    </h3>
                    <div class="articles__popular-articles-slider js-popular-articles-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="articles__popular-articles-card">
                                        <div class="articles__popular-articles-card-image-container">
                                            <img src="img/articles/image-1.jpg" alt="" class="articles__popular-articles-card-image" />
                                        </div>
                                        <div class="articles__popular-articles-card-content">
                                            <h5 class="articles__popular-articles-card-title">
                                                Ребёнок, который привык, что его не слушают
                                            </h5>

                                            <span class="articles__popular-articles-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="articles__popular-articles-card">
                                        <div class="articles__popular-articles-card-image-container">
                                            <img src="img/articles/image-2.jpg" alt="" class="articles__popular-articles-card-image" />
                                        </div>
                                        <div class="articles__popular-articles-card-content">
                                            <h5 class="articles__popular-articles-card-title">
                                                Ребёнок, который привык, что его не слушают
                                            </h5>

                                            <span class="articles__popular-articles-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="articles__popular-articles-card">
                                        <div class="articles__popular-articles-card-image-container">
                                            <img src="img/articles/image-3.jpg" alt="" class="articles__popular-articles-card-image" />
                                        </div>
                                        <div class="articles__popular-articles-card-content">
                                            <h5 class="articles__popular-articles-card-title">
                                                Ребёнок, который привык, что его не слушают
                                            </h5>

                                            <span class="articles__popular-articles-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="articles__popular-articles-card">
                                        <div class="articles__popular-articles-card-image-container">
                                            <img src="img/articles/image-4.jpg" alt="" class="articles__popular-articles-card-image" />
                                        </div>
                                        <div class="articles__popular-articles-card-content">
                                            <h5 class="articles__popular-articles-card-title">
                                                Ребёнок, который привык, что его не слушают
                                            </h5>

                                            <span class="articles__popular-articles-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="articles__popular-articles-card">
                                        <div class="articles__popular-articles-card-image-container">
                                            <img src="img/articles/image-5.jpg" alt="" class="articles__popular-articles-card-image" />
                                        </div>
                                        <div class="articles__popular-articles-card-content">
                                            <h5 class="articles__popular-articles-card-title">
                                                Ребёнок, который привык, что его не слушают
                                            </h5>

                                            <span class="articles__popular-articles-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="articles__popular-articles-card">
                                        <div class="articles__popular-articles-card-image-container">
                                            <img src="img/articles/image-6.jpg" alt="" class="articles__popular-articles-card-image" />
                                        </div>
                                        <div class="articles__popular-articles-card-content">
                                            <h5 class="articles__popular-articles-card-title">
                                                Ребёнок, который привык, что его не слушают
                                            </h5>

                                            <span class="articles__popular-articles-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="webinar__announcement">
                    <div class="webinar__content">
                        <div class="webinar__date">
                            16 февраля в 19:00
                        </div>
                        <h4 class="webinar__name">
                            Синдром ионы или сказ о том, как не зарыть талант в землю
                        </h4>
                        <div class="webinar__subscribe">
                            <img src="img/webinar-girl.png" alt="Картинка к вебинару" class="webinar__image" />
                            <p class="webinar__author">
                                Открытый вебинар Аглаи Датешидзе
                            </p>
                            <a href="#" class="webinar__subscribe-link">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
