<section class="card-slider">
    <div class="container">
        <div class="card-slider__desktop js-desktop-card-slider">
            <button class="card-slider__desktop-arrow card-slider__desktop-arrow--prev">
                <svg width="16" height="24" aria-hidden="true" class="icon-slider-arrow-left">
                    <use xlink:href="#slider-arrow-left" />
                </svg>
            </button>
            <button class="card-slider__desktop-arrow card-slider__desktop-arrow--next">
                <svg width="16" height="24" aria-hidden="true" class="icon-slider-arrow-right">
                    <use xlink:href="#slider-arrow-right" />
                </svg>
            </button>
            <div class="swiper-container">
                
                <div class="swiper-wrapper">
                    
                    <div class="swiper-slide">

                        <a href="#" class="card-slider__card">
                            <img src="img/card-slider/image-1.jpg" alt="" class="card-slider__card-image">
                            <div class="card-slider__card-content">
                                <span class="card-slider__card-tag">
                                    статья
                                </span>
                                
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">

                        <a href="#" class="card-slider__card">
                            <img src="img/card-slider/image-2.jpg" alt="" class="card-slider__card-image">
                            <svg width="86" height="86" aria-hidden="true" class="icon-play card-slider__card-play">
                                <use xlink:href="#play" />
                            </svg>
                            <div class="card-slider__card-content">
                               
                                <span class="card-slider__card-tag">
                                    видео
                                </span>
                                <h5 class="card-slider__card-title">
                                    Ребёнок, который привык, что его не кушают
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">

                        <a href="#" class="card-slider__card">
                            <img src="img/card-slider/image-3.jpg" alt="" class="card-slider__card-image">
                            <div class="card-slider__card-content">
                                <span class="card-slider__date">
                                    C 15 февраля
                                </span>
                                <span class="card-slider__card-tag">
                                    курс
                                </span>
                                <h5 class="card-slider__card-title">
                                    Мама и деньги
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">

                        <a href="#" class="card-slider__card">
                            <img src="img/card-slider/image-1.jpg" alt="" class="card-slider__card-image">
                            <div class="card-slider__card-content">
                                <span class="card-slider__card-tag">
                                    статья
                                </span>
                                
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-slider__mobile">

        </div>
    </div>
</section>