<section class="card-slider card-slider--articles">
    <div class="container">
        <h2 class="card-slider__heading">
            Статьи
        </h2>
        <div class="card-slider__desktop js-desktop-card-slider">
            <button class="card-slider__desktop-arrow card-slider__desktop-arrow--violet card-slider__desktop-arrow--prev">
                <svg width="16" height="24" aria-hidden="true" class="icon-slider-arrow-left">
                    <use xlink:href="#slider-arrow-left" />
                </svg>
            </button>
            <button class="card-slider__desktop-arrow card-slider__desktop-arrow--violet card-slider__desktop-arrow--next">
                <svg width="16" height="24" aria-hidden="true" class="icon-slider-arrow-right">
                    <use xlink:href="#slider-arrow-right" />
                </svg>
            </button>
            <div class="card-slider__label card-slider__label--violet">
                Свежее
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="articles__card">
                            <div class="articles__card-image-container">
                                <img src="img/articles/image-1.jpg" alt="Изображение статьи" class="articles__card-image" />
                            </div>
                            <h4 class="articles__card-name articles__card-name--large">
                                Синдром ионы или сказ о том, как не зарыть талант в землю
                            </h4>
                            <div class="articles__card-info-row">
                                <span class="articles__card-tag">
                                    Психология
                                </span>
                                <span class="articles__card-date">
                                    15 июня
                                </span>
                                <span class="articles__card-views-count">
                                    <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                        <use xlink:href="#eye" />
                                    </svg>
                                    3k
                                </span>
                                <span class="articles__card-likes-count">
                                    <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                        <use xlink:href="#heart" />
                                    </svg>
                                    278
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="articles__card">
                            <div class="articles__card-image-container">
                                <img src="img/articles/image-2.jpg" alt="Изображение статьи" class="articles__card-image" />
                            </div>
                            <h4 class="articles__card-name articles__card-name--large">
                                Синдром ионы или сказ о том, как не зарыть талант в землю
                            </h4>
                            <div class="articles__card-info-row">
                                <span class="articles__card-tag">
                                    Психология
                                </span>
                                <span class="articles__card-date">
                                    15 июня
                                </span>
                                <span class="articles__card-views-count">
                                    <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                        <use xlink:href="#eye" />
                                    </svg>
                                    3k
                                </span>
                                <span class="articles__card-likes-count">
                                    <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                        <use xlink:href="#heart" />
                                    </svg>
                                    278
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="articles__card">
                            <div class="articles__card-image-container">
                                <img src="img/articles/image-3.jpg" alt="Изображение статьи" class="articles__card-image" />
                            </div>
                            <h4 class="articles__card-name articles__card-name--large">
                                Синдром ионы или сказ о том, как не зарыть талант в землю
                            </h4>
                            <div class="articles__card-info-row">
                                <span class="articles__card-tag">
                                    Психология
                                </span>
                                <span class="articles__card-date">
                                    15 июня
                                </span>
                                <span class="articles__card-views-count">
                                    <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                        <use xlink:href="#eye" />
                                    </svg>
                                    3k
                                </span>
                                <span class="articles__card-likes-count">
                                    <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                        <use xlink:href="#heart" />
                                    </svg>
                                    278
                                </span>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="card-slider__mobile js-mobile-card-slider">
            <button class="card-slider__mobile-arrow card-slider__mobile-arrow--prev">
                <svg width="12" height="20" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left" />
                </svg>
            </button>

            <div class="card-slider__label card-slider__label--violet">
                Новое
            </div>
            <div class="card-slider__mobile-slider-container">
                <div class="card-slider__mobile-slider-slide">
                    <a href="#" class="card-slider__card">
                        <img src="img/card-slider/image-1.jpg" alt="" class="card-slider__card-image" />
                        <div class="card-slider__card-content">
                            <span class="card-slider__card-tag">
                                статья
                            </span>
                        </div>
                    </a>
                </div>
                <div class="card-slider__mobile-slider-slide">
                    <a href="#" class="card-slider__card">
                        <img src="img/card-slider/image-2.jpg" alt="" class="card-slider__card-image" />
                        <div class="card-slider__card-content">
                            <span class="card-slider__card-tag">
                                статья
                            </span>
                        </div>
                    </a>
                </div>
                <div class="card-slider__mobile-slider-slide">
                    <a href="#" class="card-slider__card">
                        <img src="img/card-slider/image-3.jpg" alt="" class="card-slider__card-image" />
                        <div class="card-slider__card-content">
                            <span class="card-slider__card-tag">
                                статья
                            </span>
                        </div>
                    </a>
                </div>
            </div>

            <button class="card-slider__mobile-arrow card-slider__mobile-arrow--next">
                <svg width="12" height="20" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right" />
                </svg>
            </button>
        </div>
    </div>
</section>
