<section class="check-list js-check-list-slider">
    <div class="container">
        <div class="check-list__slider">
            <div class="check-list__slider-row">
                <h3 class="check-list__slider-heading">
                    Чек-листы
                    <a href="#" class="check-list__slider-show-all">
                        Показать все
                    </a>
                </h3>

                <div class="check-list__slider-arrows">
                    <button class="check-list__slider-arrow check-list__slider-arrow--prev">
                        <svg width="18" height="30" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left" />
                        </svg>
                    </button>
                    <button class="check-list__slider-arrow check-list__slider-arrow--next">
                        <svg width="18" height="30" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card free-books__slider-card--check-list">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/checklist/book-1.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                Утренний проверочный лист – АККП
                            </h5>

                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card free-books__slider-card--check-list">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/checklist/book-2.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                чек-лист для уборки
                            </h5>

                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card free-books__slider-card--check-list">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/checklist/book-3.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                УТРЕННЯЯ РУТИНА РЕБЕНКА
                            </h5>

                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card free-books__slider-card--check-list">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/checklist/book-4.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                Как что-то сделать: полезные чеклисты и готовые списки.
                            </h5>

                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card free-books__slider-card--check-list">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/checklist/book-4.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                Как что-то сделать: полезные чеклисты и готовые списки.
                            </h5>

                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card free-books__slider-card--check-list">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/checklist/book-3.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                чек-лист для уборки
                            </h5>

                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card free-books__slider-card--check-list">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/checklist/book-2.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                УТРЕННЯЯ РУТИНА РЕБЕНКА
                            </h5>

                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card free-books__slider-card--check-list">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/checklist/book-4.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                Как что-то сделать: полезные чеклисты и готовые списки.
                            </h5>

                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card free-books__slider-card--check-list">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/checklist/book-3.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                чек-лист для уборки
                            </h5>

                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card free-books__slider-card--check-list">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/checklist/book-2.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                УТРЕННЯЯ РУТИНА РЕБЕНКА
                            </h5>

                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
