<section class="course">
    <div class="container">
        <a href="#" class="text__back-link course__back-link">
            <svg width="16" height="16" aria-hidden="true" class="icon-back">
                <use xlink:href="#back" />
            </svg>
            Назад
        </a>

        <div class="course__marafon">
            Онлайн-марафон
        </div>
        <h1 class="course__title">
            Миссия родителей нашего времени
        </h1>
        <div class="course__top-row">
            <div class="course__price">
                <div class="course__price-after">
                    от 29 999 ₽
                </div>
                <div class="course__price-before">
                    от 9 999 ₽
                </div>
            </div>
            <a href="#" class="course__buy-link">Купить</a>
            <div class="course__start-date">
                <div class="course__date-title">
                    Дата старта
                </div>
                <div class="course__date-date">
                    Март 2020
                </div>
            </div>
            <div class="course__duration">
                <div class="course__date-title">
                    Длительность
                </div>
                <div class="course__date-date">
                    3 недели
                </div>
            </div>
        </div>

        <div class="course__content">
            <div class="text__article-layout">
                <div class="text__article-layout-main">
                    <div class="text__article-content">
                        <div class="text__article-picture-with-text">
                            <img src="img/course-text-image.jpg" alt="" class="text__article-picture-with-text-image" />
                            <p class="text__article-picture-with-text-paragraph">
                                Кто-то посчитает этот слишком эгоистичным. Отчасти так оно и есть. Но этот эгоизм разумен и стратегически оправдан.
                            </p>
                        </div>

                        <p>
                            Когда он слышит слово «праздник», он интересуется, что мы подарим и кому. Открытки «сделай сам», пироги в подарок, цветы, что угодно.
                        </p>

                        <p>
                            В два года его уже знали во всех цветочных киосках в округе. Он тащил туда папу с напором танка и кричал «маме цветы». Гордый папа ждал, пока ребенок выберет любимые мои хризантемы и гордо платил. Я сияла, когда из-за
                            стеклянных витрин мне улыбались продавцы цветов, узнавшие моего сына.
                        </p>

                        <blockquote>
                            <p>
                                Я сразу вспомнила видео, которое гуляло по сети несколько лет назад. Там маленькая девочка собирается уехать в Африку.
                            </p>
                            <footer>
                                Татьяна Прокофьева
                            </footer>
                        </blockquote>

                        <ul>
                            <li>
                                Ребенок начинает идти к выходу, но через каждые несколько шагов оглядывается и наблюдает, идет ли мама за ним;
                            </li>

                            <li>
                                Мама дает ему чуть-чуть отойти, а потом идет за ним и снова повторяет, как ей не хочется, чтобы он уходил, и что ей очень грустно;
                            </li>

                            <li>
                                Еще через пару шагов ребенок бросается маме на шею и горько плачет. Занавес;
                            </li>

                            <li>
                                Я наблюдала за этим со своей скамейки с открытым ртом. Ничего себе мама!
                            </li>
                        </ul>

                        <h4>
                            Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                        </h4>

                        <ol>
                            <li>
                                Ребенок начинает идти к выходу, но через каждые несколько шагов оглядывается и наблюдает, идет ли мама за ним;
                            </li>

                            <li>
                                Мама дает ему чуть-чуть отойти, а потом идет за ним и снова повторяет, как ей не хочется, чтобы он уходил, и что ей очень грустно;
                            </li>

                            <li>
                                Еще через пару шагов ребенок бросается маме на шею и горько плачет. Занавес;
                            </li>

                            <li>
                                Я наблюдала за этим со своей скамейки с открытым ртом. Ничего себе мама!
                            </li>
                        </ol>

                        <div class="text__article-tabs-block js-tabs">
                            <div class="text__article-tabs-block-nav">
                                <a href="#" class="text__article-tabs-block-btn js-tabs-nav">
                                    Описание
                                </a>
                                <a href="#" class="text__article-tabs-block-btn js-tabs-nav">
                                    Что входит
                                </a>
                                <a href="#" class="text__article-tabs-block-btn js-tabs-nav">
                                    Материалы
                                </a>
                            </div>
                            <div class="text__article-tabs-block-items">
                                <div class="text__article-tabs-block-item js-tabs-item">
                                    <div class="text__article-content text__article-tabs-block-content">
                                        <h4>
                                            Кто-то посчитает этот слишком эгоистичным. Отчасти так оно и есть. Но этот эгоизм разумен и стратегически оправдан.
                                        </h4>
                                        <img class="floated-left" src="img/floated-image.jpg" alt="" width="400px" style="float: left; margin-top: 0; margin-right: 4.8rem;" />
                                        <p>
                                            В два года его уже знали во всех цветочных киосках в округе. Он тащил туда папу с напором танка и кричал «маме цветы». Гордый папа ждал, пока ребенок выберет любимые мои хризантемы и гордо платил. Я сияла,
                                            когда из-за стеклянных витрин мне улыбались продавцы цветов, узнавшие моего сына.
                                        </p>

                                        <h4>
                                            Кто-то посчитает этот слишком эгоистичным. Отчасти так оно и есть. Но этот эгоизм разумен и стратегически оправдан.
                                        </h4>
                                        <img class="floated-right" src="img/floated-image.jpg" alt="" width="400px" style="float: right; margin-top: 0; margin-left: 4.8rem;" />
                                        <p>
                                            В два года его уже знали во всех цветочных киосках в округе. Он тащил туда папу с напором танка и кричал «маме цветы». Гордый папа ждал, пока ребенок выберет любимые мои хризантемы и гордо платил. Я сияла,
                                            когда из-за стеклянных витрин мне улыбались продавцы цветов, узнавшие моего сына.
                                        </p>
                                    </div>
                                </div>
                                <div class="text__article-tabs-block-item js-tabs-item">
                                    <div class="text__article-content text__article-tabs-block-content">
                                        <h4>
                                            Кто-то посчитает этот слишком эгоистичным. Отчасти так оно и есть. Но этот эгоизм разумен и стратегически оправдан.
                                        </h4>
                                        <img class="floated-left" src="img/floated-image.jpg" alt="" width="400px" style="float: left; margin-top: 0; margin-right: 4.8rem;" />
                                        <p>
                                            В два года его уже знали во всех цветочных киосках в округе. Он тащил туда папу с напором танка и кричал «маме цветы». Гордый папа ждал, пока ребенок выберет любимые мои хризантемы и гордо платил. Я сияла,
                                            когда из-за стеклянных витрин мне улыбались продавцы цветов, узнавшие моего сына.
                                        </p>
                                    </div>
                                </div>
                                <div class="text__article-tabs-block-item js-tabs-item">
                                    <div class="text__article-content text__article-tabs-block-content">
                                        <h4>
                                            Кто-то посчитает этот слишком эгоистичным. Отчасти так оно и есть. Но этот эгоизм разумен и стратегически оправдан.
                                        </h4>
                                        <img class="floated-left" src="img/floated-image.jpg" alt="" width="400px" style="float: left; margin-top: 0; margin-right: 4.8rem;" />
                                        <p>
                                            В два года его уже знали во всех цветочных киосках в округе. Он тащил туда папу с напором танка и кричал «маме цветы». Гордый папа ждал, пока ребенок выберет любимые мои хризантемы и гордо платил. Я сияла,
                                            когда из-за стеклянных витрин мне улыбались продавцы цветов, узнавшие моего сына.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text__article-gallery-block js-gallery">
                            <h2 class="text__article-gallery-block-heading">
                                Фотогалерея
                            </h2>
                            <div class="text__article-gallery-block-main-slider">
                                <button class="text__article-gallery-block-arrow text__article-gallery-block-arrow--prev">
                                    <svg width="18" height="30" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left" />
                                    </svg>
                                </button>
                                <button class="text__article-gallery-block-arrow text__article-gallery-block-arrow--next">
                                    <svg width="18" height="30" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-right" />
                                    </svg>
                                </button>
                                <div class="swiper-container">
  
                                    <div class="swiper-wrapper">
                                       
                                        <div class="swiper-slide">
                                            <a href="img/gallery/gallery-image.jpg" class="text__article-gallery-block-main-slider-card" data-fancybox="mediagallery">
                                                <div class="text__article-gallery-block-main-slider-card-image-container">
                                                    <img src="img/gallery/gallery-image.jpg" alt="" class="text__article-gallery-block-main-slider-card-image">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="img/gallery/gallery-image.jpg" class="text__article-gallery-block-main-slider-card" data-fancybox="mediagallery">
                                                <div class="text__article-gallery-block-main-slider-card-image-container">
                                                    <img src="img/gallery/gallery-image.jpg" alt="" class="text__article-gallery-block-main-slider-card-image">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-width="640" class="text__article-gallery-block-main-slider-card text__article-gallery-block-main-slider-card--video" data-fancybox="mediagallery">
                                                <div class="text__article-gallery-block-main-slider-card-image-container">
                                                    <img src="img/gallery/gallery-image.jpg" alt="" class="text__article-gallery-block-main-slider-card-image">


                                                    <svg width="75" height="80" aria-hidden="true" class="icon-play-simple">
                                                        <use xlink:href="#play-simple" />
                                                    </svg>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="img/gallery/gallery-image.jpg" class="text__article-gallery-block-main-slider-card" data-fancybox="mediagallery">
                                                <div class="text__article-gallery-block-main-slider-card-image-container">
                                                    <img src="img/gallery/gallery-image.jpg" alt="" class="text__article-gallery-block-main-slider-card-image">
                                                </div>
                                            </a>
                                        </div>
                                      
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="text__article-gallery-block-thumbs-slider">
                                <div class="swiper-container">
  
                                    <div class="swiper-wrapper">
                                       
                                        <div class="swiper-slide">
                                            <div class="text__article-gallery-block-thumbs-slider-card">
                                                <div class="text__article-gallery-block-thumbs-slider-card-image-container">
                                                    <img src="img/gallery/thumb-1.jpg" alt="" class="text__article-gallery-block-thumbs-slider-card-image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="text__article-gallery-block-thumbs-slider-card">
                                                <div class="text__article-gallery-block-thumbs-slider-card-image-container">
                                                    <img src="img/gallery/thumb-2.jpg" alt="" class="text__article-gallery-block-thumbs-slider-card-image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="text__article-gallery-block-thumbs-slider-card">
                                                <div class="text__article-gallery-block-thumbs-slider-card-image-container">
                                                    <img src="img/gallery/thumb-3.jpg" alt="" class="text__article-gallery-block-thumbs-slider-card-image">

                                                    <svg width="75" height="80" aria-hidden="true" class="icon-play-simple">
                                                        <use xlink:href="#play-simple" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="text__article-gallery-block-thumbs-slider-card">
                                                <div class="text__article-gallery-block-thumbs-slider-card-image-container">
                                                    <img src="img/gallery/thumb-4.jpg" alt="" class="text__article-gallery-block-thumbs-slider-card-image">
                                                </div>
                                            </div>
                                        </div>
                                      
                                    </div>
                                  
                                </div>
                            </div>
                        </div>


                        <div class="text__article-video-block">
                            <h2 class="text__article-video-block-heading">
                                Видео
                            </h2>
                            <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-width="640" class="text__article-gallery-block-main-slider-card text__article-gallery-block-main-slider-card--video" data-fancybox="mediagallery">
                                <div class="text__article-gallery-block-main-slider-card-image-container">
                                    <img src="img/gallery/gallery-image.jpg" alt="" class="text__article-gallery-block-main-slider-card-image">


                                    <svg width="75" height="80" aria-hidden="true" class="icon-play-simple">
                                        <use xlink:href="#play-simple" />
                                    </svg>
                                </div>
                            </a>
                        </div>

                        <div class="text__article-speakers">
                            <h2 class="text__article-speakers-heading">
                                Спикеры
                            </h2>
                            <div class="text__article-speakers-item">
                                <img src="img/solipidi.png" alt="" class="text__article-speakers-item-image" />
                                <div class="text__article-speakers-item-content">
                                    <h3 class="text__article-speakers-item-content-heading">
                                        Елена Сопилиди
                                    </h3>
                                    <div class="text__article-speakers-item-content-text">
                                        <p>
                                            Консультант в области персонального здоровья и благополучия, работаю с психологическими проблемами
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text__article-speakers-item">
                                <img src="img/aglaya.png" alt="" class="text__article-speakers-item-image" />
                                <div class="text__article-speakers-item-content">
                                    <h3 class="text__article-speakers-item-content-heading">
                                        Аглая Датешидзе
                                    </h3>
                                    <div class="text__article-speakers-item-content-text">
                                        <p>
                                            Мультимодальный междисциплинар
                                        </p>
                                        <p>
                                            Писательница, путешественница, предприниматель, перформер, врач-психотерапевт, танцевально-двигательный терапевт, телесный практик, организатор тренингов и семейных лагерей. А также просто человек.
                                        </p>
                                        <p>
                                            Ведущая регулярных терапевтических групп, автор и ведущая более тридцати онлайн-программ, автор блога Dateshidze.ru.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text__article-advantages-block">
                            <h3 class="text__article-advantages-block-heading">
                                Преимущества
                            </h3>

                            <ul class="text__article-advantages-block-list">
                                <li class="text__article-advantages-block-list-item">
                                    <div class="text__article-advantages-block-card">
                                        <div class="text__article-advantages-block-card-icon-container">
                                            <img src="img/advantages/person.svg" alt="" class="text__article-advantages-block-card-icon" />
                                        </div>
                                        <h5 class="text__article-advantages-block-card-title">
                                            7 видеоуроков
                                        </h5>
                                    </div>
                                </li>
                                <li class="text__article-advantages-block-list-item">
                                    <div class="text__article-advantages-block-card">
                                        <div class="text__article-advantages-block-card-icon-container">
                                            <img src="img/advantages/docs.svg" alt="" class="text__article-advantages-block-card-icon" />
                                        </div>
                                        <h5 class="text__article-advantages-block-card-title">
                                            Полезная литература
                                        </h5>
                                    </div>
                                </li>
                                <li class="text__article-advantages-block-list-item">
                                    <div class="text__article-advantages-block-card">
                                        <div class="text__article-advantages-block-card-icon-container">
                                            <img src="img/advantages/case.svg" alt="" class="text__article-advantages-block-card-icon" />
                                        </div>
                                        <h5 class="text__article-advantages-block-card-title">
                                            Домашние задания
                                        </h5>
                                    </div>
                                </li>
                                <li class="text__article-advantages-block-list-item">
                                    <div class="text__article-advantages-block-card">
                                        <div class="text__article-advantages-block-card-icon-container">
                                            <img src="img/advantages/person.svg" alt="" class="text__article-advantages-block-card-icon" />
                                        </div>
                                        <h5 class="text__article-advantages-block-card-title">
                                            7 видеоуроков
                                        </h5>
                                    </div>
                                </li>
                                <li class="text__article-advantages-block-list-item">
                                    <div class="text__article-advantages-block-card">
                                        <div class="text__article-advantages-block-card-icon-container">
                                            <img src="img/advantages/person-round.svg" alt="" class="text__article-advantages-block-card-icon" />
                                        </div>
                                        <h5 class="text__article-advantages-block-card-title">
                                            Полезные советы
                                        </h5>
                                    </div>
                                </li>
                                <li class="text__article-advantages-block-list-item">
                                    <div class="text__article-advantages-block-card">
                                        <div class="text__article-advantages-block-card-icon-container">
                                            <img src="img/advantages/coctail.svg" alt="" class="text__article-advantages-block-card-icon" />
                                        </div>
                                        <h5 class="text__article-advantages-block-card-title">
                                            Материалы для работы
                                        </h5>
                                    </div>
                                </li>
                                <li class="text__article-advantages-block-list-item">
                                    <div class="text__article-advantages-block-card">
                                        <div class="text__article-advantages-block-card-icon-container">
                                            <img src="img/advantages/award.svg" alt="" class="text__article-advantages-block-card-icon" />
                                        </div>
                                        <h5 class="text__article-advantages-block-card-title">
                                            Сертификат
                                        </h5>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="text__article-buy-course">
                            <div class="text__article-buy-course-row">
                                <div class="text__article-buy-course-left-col">
                                    <h2 class="text__article-buy-course-heading">
                                        Купить курс со скидкой 30%
                                    </h2>
                                    <ul class="text__article-buy-course-list">
                                        <li class="text__article-buy-course-list-item">
                                            <div class="text__article-buy-course-card">
                                                <div class="text__article-buy-course-card-icon-container">
                                                    <img src="img/buy-course/person.svg" alt="" class="text__article-buy-course-card-icon" />
                                                </div>
                                                <h5 class="text__article-buy-course-card-title">
                                                    7 видеоуроков
                                                </h5>
                                            </div>
                                        </li>
                                        <li class="text__article-buy-course-list-item">
                                            <div class="text__article-buy-course-card">
                                                <div class="text__article-buy-course-card-icon-container">
                                                    <img src="img/buy-course/docs.svg" alt="" class="text__article-buy-course-card-icon" />
                                                </div>
                                                <h5 class="text__article-buy-course-card-title">
                                                    Полезная литература
                                                </h5>
                                            </div>
                                        </li>
                                        <li class="text__article-buy-course-list-item">
                                            <div class="text__article-buy-course-card">
                                                <div class="text__article-buy-course-card-icon-container">
                                                    <img src="img/buy-course/case.svg" alt="" class="text__article-buy-course-card-icon" />
                                                </div>
                                                <h5 class="text__article-buy-course-card-title">
                                                    Полезная литература
                                                </h5>
                                            </div>
                                        </li>
                                        <li class="text__article-buy-course-list-item">
                                            <div class="text__article-buy-course-card">
                                                <div class="text__article-buy-course-card-icon-container">
                                                    <img src="img/buy-course/person-round.svg" alt="" class="text__article-buy-course-card-icon" />
                                                </div>
                                                <h5 class="text__article-buy-course-card-title">
                                                    Полезные советы
                                                </h5>
                                            </div>
                                        </li>
                                        <li class="text__article-buy-course-list-item">
                                            <div class="text__article-buy-course-card">
                                                <div class="text__article-buy-course-card-icon-container">
                                                    <img src="img/buy-course/coctail.svg" alt="" class="text__article-buy-course-card-icon" />
                                                </div>
                                                <h5 class="text__article-buy-course-card-title">
                                                    Материалы для работы
                                                </h5>
                                            </div>
                                        </li>
                                        <li class="text__article-buy-course-list-item">
                                            <div class="text__article-buy-course-card">
                                                <div class="text__article-buy-course-card-icon-container">
                                                    <img src="img/buy-course/award.svg" alt="" class="text__article-buy-course-card-icon" />
                                                </div>
                                                <h5 class="text__article-buy-course-card-title">
                                                    Сертификат
                                                </h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text__article-buy-course-right-col">
                                    <h3 class="text__article-buy-course-small-heading">
                                        Предложение действительно для первых 20!
                                    </h3>
                                    <div class="text__article-buy-course-price">
                                        <p class="text__article-buy-course-price-paragraph">
                                            Полная стоимость курса
                                        </p>
                                        <p class="text__article-buy-course-price-before">
                                            от 9 999 ₽
                                        </p>
                                        <p class="text__article-buy-course-price-paragraph">
                                            Стоимость курса со скидкой
                                        </p>
                                        <p class="text__article-buy-course-price-after">
                                            от 29 999 ₽
                                        </p>
                                    </div>
                                    <a href="#" class="text__article-buy-course-link">
                                        Купить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text__article-layout-sidebar text__article-layout-sidebar--small-margin">
                    <h3 class="courses__sidebar-heading">
                        Другие курсы
                    </h3>

                    <a href="#" class="courses__sidebar-card">
                        <div class="courses__sidebar-card-image-container">
                            <img src="img/course-1.jpg" alt="" class="courses__sidebar-card-image" />
                        </div>
                        <div class="courses__sidebar-card-content">
                            <h5 class="courses__sidebar-card-title">
                                Ребёнок, который привык, что его не слушаю
                            </h5>
                            <div class="courses__sidebar-card-price">
                                <span class="courses__sidebar-card-price-after">
                                    9 999 ₽
                                </span>
                                <span class="courses__sidebar-card-price-before">
                                    13 999 ₽
                                </span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="courses__sidebar-card courses__sidebar-card--fullheight">
                        <div class="courses__sidebar-card-image-container">
                            <img src="img/course-1.jpg" alt="" class="courses__sidebar-card-image" />
                        </div>
                        <div class="courses__sidebar-card-content">
                            <h5 class="courses__sidebar-card-title">
                                Ребёнок, который привык, что его не слушаю
                            </h5>
                            <div class="courses__sidebar-card-price">
                                <span class="courses__sidebar-card-price-after">
                                    9 999 ₽
                                </span>
                                <span class="courses__sidebar-card-price-before">
                                    13 999 ₽
                                </span>
                            </div>
                        </div>
                    </a>

                    <div class="articles__sidebar-subscribe">
                        <h5 class="articles__sidebar-subscribe-title">
                            Получайте полезные статьи на емайл
                        </h5>

                        <form action="/" method="POST" class="articles__sidebar-form" data-parsley-validate>
                            <input type="email" class="articles__sidebar-form-input" required placeholder="Электронная почта" />

                            <p class="articles__sidebar-form-remark">
                                Подписываясь, вы соглашаетесь с политикой конфиденциальности.
                            </p>

                            <button type="submit" class="articles__sidebar-form-submit">Подписаться</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
