<section class="courses">
    <div class="container">
        <div class="courses__content">
            <div class="courses__top-slider js-courses-top-slider">
                <div class="courses__top-slider-row">
                    <h3 class="courses__top-slider-heading">
                        Курсы
                        <a href="" class="courses__top-slider-heading-link">
                            смотреть все
                        </a>
                    </h3>
                    <div class="courses__top-slider-arrows">
                        <button class="courses__top-slider-arrow courses__top-slider-arrow--prev">
                            <svg width="20" height="34" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left" />
                            </svg>
                        </button>
                        <button class="courses__top-slider-arrow courses__top-slider-arrow--next">
                            <svg width="20" height="34" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right" />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="courses__top-slider-card">
                                <img src="img/courses/image-1.jpg" alt="" class="courses__top-slider-card-image" />
                                <div class="courses__top-slider-card-content">
                                    <div class="courses__top-slider-card-text">
                                        <h4 class="courses__top-slider-card-title">
                                            Ребёнок, который привык, что его не слушаю
                                        </h4>
                                        <span class="courses__top-slider-card-tag">
                                            психология
                                        </span>

                                        <p class="courses__top-slider-card-description">
                                            4 недели, после которых ваши отношения с деньгами станут лучше, а мечты начнут исполняться
                                        </p>
                                        <span class="courses__top-slider-card-start-date">
                                            с 15 апреля
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="courses__top-slider-card courses__top-slider-card--white-text">
                                <img src="img/courses/image-2.jpg" alt="" class="courses__top-slider-card-image" />
                                <div class="courses__top-slider-card-content">
                                    <div class="courses__top-slider-card-text">
                                        <h4 class="courses__top-slider-card-title">
                                            Ребёнок, который привык, что его не слушаю
                                        </h4>
                                        <span class="courses__top-slider-card-tag">
                                            психология
                                        </span>

                                        <p class="courses__top-slider-card-description">
                                            4 недели, после которых ваши отношения с деньгами станут лучше, а мечты начнут исполняться
                                        </p>
                                        <span class="courses__top-slider-card-start-date">
                                            с 15 апреля
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="courses__top-slider-card">
                                <img src="img/courses/image-1.jpg" alt="" class="courses__top-slider-card-image" />
                                <div class="courses__top-slider-card-content">
                                    <div class="courses__top-slider-card-text">
                                        <h4 class="courses__top-slider-card-title">
                                            Ребёнок, который привык, что его не слушаю
                                        </h4>
                                        <span class="courses__top-slider-card-tag">
                                            психология
                                        </span>

                                        <p class="courses__top-slider-card-description">
                                            4 недели, после которых ваши отношения с деньгами станут лучше, а мечты начнут исполняться
                                        </p>
                                        <span class="courses__top-slider-card-start-date">
                                            с 15 апреля
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="courses__bottom-slider js-courses-bottom-slider">
                <div class="courses__bottom-slider-row">
                    <h5 class="courses__bottom-slider-heading">
                        Распродажа курсов
                    </h5>

                    <div class="courses__bottom-slider-arrows">
                        <button class="courses__bottom-slider-arrow courses__bottom-slider-arrow--prev">
                            <svg width="16" height="26" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left" />
                            </svg>
                        </button>
                        <button class="courses__bottom-slider-arrow courses__bottom-slider-arrow--next">
                            <svg width="16" height="26" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right" />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="courses__bottom-slider-card">
                                <div class="courses__bottom-slider-card-image-container">
                                    <img src="img/courses/image-1.jpg" alt="" class="courses__bottom-slider-card-image" />
                                </div>

                                <h5 class="courses__bottom-slider-card-title">
                                    Ребёнок, который привык, что его не слушаю
                                </h5>
                                <div class="courses__bottom-slider-card-prices">
                                    <span class="courses__bottom-slider-card-price-after">
                                        9 999 ₽
                                    </span>
                                    <span class="courses__bottom-slider-card-price-before">
                                        13 999 ₽
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="courses__bottom-slider-card">
                                <div class="courses__bottom-slider-card-image-container">
                                    <img src="img/courses/image-2.jpg" alt="" class="courses__bottom-slider-card-image" />
                                </div>

                                <h5 class="courses__bottom-slider-card-title">
                                    Ребёнок, который привык, что его не слушаю
                                </h5>
                                <div class="courses__bottom-slider-card-prices">
                                    <span class="courses__bottom-slider-card-price-after">
                                        9 999 ₽
                                    </span>
                                    <span class="courses__bottom-slider-card-price-before">
                                        13 999 ₽
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="courses__bottom-slider-card">
                                <div class="courses__bottom-slider-card-image-container">
                                    <img src="img/courses/image-1.jpg" alt="" class="courses__bottom-slider-card-image" />
                                </div>

                                <h5 class="courses__bottom-slider-card-title">
                                    Ребёнок, который привык, что его не слушаю
                                </h5>
                                <div class="courses__bottom-slider-card-prices">
                                    <span class="courses__bottom-slider-card-price-after">
                                        9 999 ₽
                                    </span>
                                    <span class="courses__bottom-slider-card-price-before">
                                        13 999 ₽
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="courses__bottom-slider-card">
                                <div class="courses__bottom-slider-card-image-container">
                                    <img src="img/courses/image-2.jpg" alt="" class="courses__bottom-slider-card-image" />
                                </div>

                                <h5 class="courses__bottom-slider-card-title">
                                    Ребёнок, который привык, что его не слушаю
                                </h5>
                                <div class="courses__bottom-slider-card-prices">
                                    <span class="courses__bottom-slider-card-price-after">
                                        9 999 ₽
                                    </span>
                                    <span class="courses__bottom-slider-card-price-before">
                                        13 999 ₽
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
