<section class="free-books">
    <div class="container">
        <div class="free-books__slider js-books-slider">
            <div class="free-books__slider-row">
                <h3 class="free-books__slider-heading">
                    Книги
                    <a href="#" class="free-books__slider-show-all">
                        Показать все
                    </a>
                </h3>

                <div class="free-books__slider-arrows">
                    <button class="free-books__slider-arrow free-books__slider-arrow--prev">
                        <svg width="18" height="30" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left" />
                        </svg>
                    </button>
                    <button class="free-books__slider-arrow free-books__slider-arrow--next">
                        <svg width="18" height="30" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/books/book-1.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                Как говорить, чтобы дети слушали, и как слушать, чтобы дети говорили
                            </h5>
                            <p class="free-books__slider-card-author">
                                Элейн Мазлиш, Адель Фабер
                            </p>
                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/books/book-2.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                Самая важная книга для родителей (сборник)
                            </h5>
                            <p class="free-books__slider-card-author">
                                Элейн Мазлиш, Адель Фабер
                            </p>
                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/books/book-3.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                Большая книга про вас и вашего ребенка
                            </h5>
                            <p class="free-books__slider-card-author">
                                Элейн Мазлиш, Адель Фабер
                            </p>
                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/books/book-4.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                Про родительство. Мама, не кричи!
                            </h5>
                            <p class="free-books__slider-card-author">
                                Элейн Мазлиш, Адель Фабер
                            </p>
                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/books/book-1.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                Как говорить, чтобы дети слушали, и как слушать, чтобы дети говорили
                            </h5>
                            <p class="free-books__slider-card-author">
                                Элейн Мазлиш, Адель Фабер
                            </p>
                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/books/book-1.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                Как говорить, чтобы дети слушали, и как слушать, чтобы дети говорили
                            </h5>
                            <p class="free-books__slider-card-author">
                                Элейн Мазлиш, Адель Фабер
                            </p>
                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="free-books__slider-card">
                            <div class="free-books__slider-card-image-container">
                                <img src="img/books/book-2.jpg" alt="" class="free-books__slider-card-image" />
                            </div>
                            <h5 class="free-books__slider-card-title">
                                Самая важная книга для родителей (сборник)
                            </h5>
                            <p class="free-books__slider-card-author">
                                Элейн Мазлиш, Адель Фабер
                            </p>
                            <p class="free-books__slider-card-price-after">
                                0 ₽
                            </p>
                            <p class="free-books__slider-card-price-before">
                                от 9 999 ₽
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
