<section class="stories white-cards">
    <div class="container">
        <h2 class="stories__heading">
            Вам будет интересно
        </h2>
        <div class="stories__content js-stories-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="articles__card">
                            <div class="articles__card-image-container">
                                <img src="img/articles/image-2.jpg" alt="Изображение статьи" class="articles__card-image" />
                            </div>
                            <h4 class="articles__card-name">
                                Ребёнок, который привык, что его не слушаю
                            </h4>
                            <div class="articles__card-info-row">
                                <span class="articles__card-tag">
                                    Психология
                                </span>
                                <span class="articles__card-date">
                                    15 июня
                                </span>
                                <span class="articles__card-views-count">
                                    <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                        <use xlink:href="#eye"></use>
                                    </svg>
                                    3k
                                </span>
                                <span class="articles__card-likes-count">
                                    <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                    278
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="articles__card">
                            <div class="articles__card-image-container">
                                <img src="img/articles/image-1.jpg" alt="Изображение статьи" class="articles__card-image">
                            </div>
                            <h4 class="articles__card-name">
                                Ребёнок, который привык, что его не слушаю
                            </h4>
                            <div class="articles__card-info-row">
                                <span class="articles__card-tag">
                                    Психология
                                </span>
                                <span class="articles__card-date">
                                    15 июня
                                </span>
                                <span class="articles__card-views-count">
                                    <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                        <use xlink:href="#eye"></use>
                                    </svg>
                                    3k
                                </span>
                                <span class="articles__card-likes-count">
                                    <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                    278
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="articles__card">
                            <div class="articles__card-image-container">
                                <img src="img/articles/image-3.jpg" alt="Изображение статьи" class="articles__card-image">
                            </div>
                            <h4 class="articles__card-name">
                                Синдром ионы или сказ о том, как не зарыть талант в землю
                            </h4>
                            <div class="articles__card-info-row">
                                <span class="articles__card-tag">
                                    Психология
                                </span>
                                <span class="articles__card-date">
                                    15 июня
                                </span>
                                <span class="articles__card-views-count">
                                    <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                        <use xlink:href="#eye"></use>
                                    </svg>
                                    3k
                                </span>
                                <span class="articles__card-likes-count">
                                    <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                    278
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="articles__card">
                            <div class="articles__card-image-container">
                                <img src="img/articles/image-4.jpg" alt="Изображение статьи" class="articles__card-image">
                            </div>
                            <h4 class="articles__card-name">
                                Синдром ионы или сказ о том, как не зарыть талант в землю
                            </h4>
                            <div class="articles__card-info-row">
                                <span class="articles__card-tag">
                                    Психология
                                </span>
                                <span class="articles__card-date">
                                    15 июня
                                </span>
                                <span class="articles__card-views-count">
                                    <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                        <use xlink:href="#eye"></use>
                                    </svg>
                                    3k
                                </span>
                                <span class="articles__card-likes-count">
                                    <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                    278
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
