<section class="marathons js-marathons-slider">
    <div class="container">
        <div class="marathons__slider">
            <div class="marathons__slider-row">
                <h3 class="marathons__slider-heading">
                    Марафоны
                    <a href="#" class="marathons__slider-show-all">
                        Показать все
                    </a>
                </h3>

                <div class="marathons__slider-arrows">
                    <button class="marathons__slider-arrow marathons__slider-arrow--prev">
                        <svg width="18" height="30" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left" />
                        </svg>
                    </button>
                    <button class="marathons__slider-arrow marathons__slider-arrow--next">
                        <svg width="18" height="30" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="marathons__slider-card">
                            <div class="marathons__slider-card-image-container">
                                <img src="img/marathons/image-1.jpg" alt="" class="marathons__slider-card-image" />
                            </div>
                            <div class="marathons__slider-card-top-row">
                                <div class="marathons__slider-card-marathon">
                                    Онлайн-марафон
                                </div>
                                <div class="marathons__slider-card-tag">
                                    психология
                                </div>
                            </div>
                            <div class="marathons__slider-card-bottom-row">
                                <div class="marathons__slider-card-content">
                                    <h5 class="marathons__slider-card-title">
                                        Секретный весенний марафон
                                    </h5>
                                    <div class="marathons__slider-card-text">
                                        <p>
                                            Самый женский марафон с удивительными практиками принятия себя и приглашённым спикером (не только о психологии), тема анонсируется позже
                                        </p>
                                    </div>
                                </div>
                                <div class="marathons__slider-card-info">
                                    <div class="marathons__slider-card-info-block">
                                        <div class="marathons__slider-card-info-block-key">
                                            Дата старта
                                        </div>
                                        <div class="marathons__slider-card-info-block-value">
                                            Март 2020
                                        </div>
                                    </div>
                                    <div class="marathons__slider-card-info-block">
                                        <div class="marathons__slider-card-info-block-key">
                                            Длительность
                                        </div>
                                        <div class="marathons__slider-card-info-block-value">
                                            3 недели
                                        </div>
                                    </div>

                                    <div class="marathons__slider-card-price-after">
                                        0 ₽
                                    </div>
                                    <div class="marathons__slider-card-price-before">
                                        от 9 999 ₽
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="marathons__slider-card">
                            <div class="marathons__slider-card-image-container">
                                <img src="img/marathons/image-2.jpg" alt="" class="marathons__slider-card-image" />
                            </div>
                            <div class="marathons__slider-card-top-row">
                                <div class="marathons__slider-card-marathon">
                                    Онлайн-марафон
                                </div>
                                <div class="marathons__slider-card-tag">
                                    психология
                                </div>
                            </div>
                            <div class="marathons__slider-card-bottom-row">
                                <div class="marathons__slider-card-content">
                                    <h5 class="marathons__slider-card-title">
                                        Секретный весенний марафон
                                    </h5>
                                    <div class="marathons__slider-card-text">
                                        <p>
                                            Самый женский марафон с удивительными практиками принятия себя и приглашённым спикером (не только о психологии), тема анонсируется позже
                                        </p>
                                    </div>
                                </div>
                                <div class="marathons__slider-card-info">
                                    <div class="marathons__slider-card-info-block">
                                        <div class="marathons__slider-card-info-block-key">
                                            Дата старта
                                        </div>
                                        <div class="marathons__slider-card-info-block-value">
                                            Март 2020
                                        </div>
                                    </div>
                                    <div class="marathons__slider-card-info-block">
                                        <div class="marathons__slider-card-info-block-key">
                                            Длительность
                                        </div>
                                        <div class="marathons__slider-card-info-block-value">
                                            3 недели
                                        </div>
                                    </div>

                                    <div class="marathons__slider-card-price-after">
                                        0 ₽
                                    </div>
                                    <div class="marathons__slider-card-price-before">
                                        от 9 999 ₽
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="marathons__slider-card">
                            <div class="marathons__slider-card-image-container">
                                <img src="img/marathons/image-3.jpg" alt="" class="marathons__slider-card-image" />
                            </div>
                            <div class="marathons__slider-card-top-row">
                                <div class="marathons__slider-card-marathon">
                                    Онлайн-марафон
                                </div>
                                <div class="marathons__slider-card-tag">
                                    психология
                                </div>
                            </div>
                            <div class="marathons__slider-card-bottom-row">
                                <div class="marathons__slider-card-content">
                                    <h5 class="marathons__slider-card-title">
                                        Секретный весенний марафон
                                    </h5>
                                    <div class="marathons__slider-card-text">
                                        <p>
                                            Самый женский марафон с удивительными практиками принятия себя и приглашённым спикером (не только о психологии), тема анонсируется позже
                                        </p>
                                    </div>
                                </div>
                                <div class="marathons__slider-card-info">
                                    <div class="marathons__slider-card-info-block">
                                        <div class="marathons__slider-card-info-block-key">
                                            Дата старта
                                        </div>
                                        <div class="marathons__slider-card-info-block-value">
                                            Март 2020
                                        </div>
                                    </div>
                                    <div class="marathons__slider-card-info-block">
                                        <div class="marathons__slider-card-info-block-key">
                                            Длительность
                                        </div>
                                        <div class="marathons__slider-card-info-block-value">
                                            3 недели
                                        </div>
                                    </div>

                                    <div class="marathons__slider-card-price-after">
                                        0 ₽
                                    </div>
                                    <div class="marathons__slider-card-price-before">
                                        от 9 999 ₽
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
