<section class="psycho">
    <div class="container">
        <div class="psycho__row">
            <div class="psycho__content">
                <h3 class="psycho__title">
                    Запишитесь на консультацию к психологу
                </h3>
                <p class="psycho__description">
                    или сказ о том, как не зарыть талант в землю
                </p>
                <form action="/" method="POST" class="psycho__form">
                    <div class="psycho__form-group">
                        <input type="text" name="name" class="psycho__form-input" placeholder="Имя">
                    </div>
                    <div class="psycho__form-group">
                        <input type="tel" name="name" class="psycho__form-input" placeholder="Телефон">
                    </div>
                    <button class="psycho__form-submit">
                        Записаться
                    </button>
                </form>
            </div>
            <img src="img/psycho.png" alt="" class="psycho__image">
        </div>
        
    </div>
</section>