<section class="psycho">
    <div class="container">
        <div class="psycho__row">
            <div class="psycho__content">
                <h3 class="psycho__title">
                    Запишитесь на консультацию к психологу
                </h3>
                <p class="psycho__description">
                    или сказ о том, как не зарыть талант в землю
                </p>
                <form action="/" method="POST" class="psycho__form" data-parsley-validate>
                    <div class="psycho__form-group">
                        <input type="text" name="name" class="psycho__form-input" placeholder="Имя" required>
                    </div>
                    <div class="psycho__form-group">
                        <input type="tel" name="name" class="psycho__form-input js-phone-input" placeholder="Телефон" required data-parsley-phone>
                    </div>
                    <button class="psycho__form-submit">
                        Записаться
                    </button>
                </form>
            </div>
            <img src="img/psycho.png" alt="" class="psycho__image">
            <div class="psycho__success">
             

                <div class="psycho__success-content">
                    <div class="psycho__success-content-large-text">
                        Спасибо! 
                    </div>
                    <div class="psycho__success-content-small-text">
                        Ваше сообщение отправлено.
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>