<section class="sale">
    <div class="container">
        <div class="sale__label">
            <div class="sale__label-amount">
                -70%
            </div>
            <div class="sale__label-text">
                на программы ПроРодительство
            </div>
        </div>
        <div class="sale__row">
            <div class="sale__text-content">
                <h1 class="sale__heading">
                    новая Весенняя распродажа
                </h1>
                <div class="sale__text">
                    <p>
                        В нашей семье подарки – это священная тема. Мой сын в четыре с половиной года не расскажет стишок на английском, не знает всех букв алфавита
                    </p>
                </div>
            </div>
            <div class="sale__countdown js-countdown" data-target-date="2020-08-16T19:20+03:00">
                <p class="sale__countdown-text">
                    До конца акции
                </p>
                <div class="sale__countdown-digits">
                    <div class="sale__countdown-digits-block">
                        <div class="sale__countdown-digits-block-digit sale__countdown-digits-block-digit--days">
                            00
                        </div>
                        <div class="sale__countdown-digits-block-text">
                            Дней
                        </div>
                    </div>
                    :
                    <div class="sale__countdown-digits-block">
                        <div class="sale__countdown-digits-block-digit sale__countdown-digits-block-digit--hours">
                            00
                        </div>
                        <div class="sale__countdown-digits-block-text">
                            Часов
                        </div>
                    </div>
                    :
                    <div class="sale__countdown-digits-block">
                        <div class="sale__countdown-digits-block-digit sale__countdown-digits-block-digit--minutes">
                            00
                        </div>
                        <div class="sale__countdown-digits-block-text">
                            Минут
                        </div>
                    </div>
                    :
                    <div class="sale__countdown-digits-block">
                        <div class="sale__countdown-digits-block-digit sale__countdown-digits-block-digit--seconds">
                            00
                        </div>
                        <div class="sale__countdown-digits-block-text">
                            Секунд
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
