<section class="search">
    <div class="container">
        <form action="/" method="GET" class="search__form">
            <input type="search" name="q" class="search__form-input" placeholder="Что ищем?" />

            <button type="submit" class="search__form-submit">
                <svg width="62" height="62" aria-hidden="true" class="icon-search">
                    <use xlink:href="#search-thin" />
                </svg>
            </button>
        </form>

        <div class="search__results">
            <div class="search__tabs js-tabs">
                <div class="search__tabs-nav">
                    <a href="#" class="search__tabs-nav-link js-tabs-nav active">
                        Статьи
                        <span class="search__tabs-nav-count">
                            15
                        </span>
                    </a>
                    <a href="#" class="search__tabs-nav-link js-tabs-nav">
                        Курсы
                        <span class="search__tabs-nav-count">
                            15
                        </span>
                    </a>
                </div>
                <div class="search__tabs-items">
                    <div class="search__tabs-item js-tabs-item">
                        <ul class="search__results-list">
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-1.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-2.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-3.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-4.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-1.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-2.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-3.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-4.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="articles__load-more">
                            Показать еще
                        </a>
                    </div>
                    <div class="search__tabs-item js-tabs-item">
                        <ul class="search__results-list">
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-3.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-4.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-1.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-2.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-1.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-2.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-3.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="search__results-list-item active">
                                <a href="#" class="search__results-card">
                                    <div class="search__results-card-image-container">
                                        <img src="img/articles/image-4.jpg" alt="" class="search__results-card-image" />
                                    </div>
                                    <div class="search__results-card-content">
                                        <h5 class="search__results-card-title"><em>Ребёнок</em>, который привык, что его не слушают</h5>
                                        <div class="search__results-card-text">
                                            Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но <em>ребенок</em> не в качестве жертвы, а в качестве
                                            осознанного выбора. Жертвенная любовь популярна в нашей куль
                                        </div>
                                        <div class="articles__card-info-row">
                                            <span class="articles__card-tag">
                                                Психология
                                            </span>
                                            <span class="articles__card-date">
                                                15 июня
                                            </span>
                                            <span class="articles__card-views-count">
                                                <svg width="12" height="6" aria-hidden="true" class="icon-eye">
                                                    <use xlink:href="#eye" />
                                                </svg>
                                                3k
                                            </span>
                                            <span class="articles__card-likes-count">
                                                <svg width="12" height="10" aria-hidden="true" class="icon-heart">
                                                    <use xlink:href="#heart" />
                                                </svg>
                                                278
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="articles__load-more">
                            Показать еще
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
