<section class="stories">
    <div class="container">

        <h2 class="stories__heading">
            Истории
            <a href="#" class="stories__heading-link">
                Все истории
            </a>
        </h2>
        <div class="stories__content js-stories-slider">
            <div class="swiper-container">
              
                <div class="swiper-wrapper">
                  
                    <div class="swiper-slide">
                        <a href="#" class="stories__card">
                            <div class="stories__card-image-container">
                                <img src="img/stories/image-1.jpg" alt="" class="stories__card-image">
                                <span class="stories__card-image-overlay"></span>
                                <div class="stories__card-image-container-content">
                                    <h5 class="stories__card-title">
                                        Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                    </h5>
                                </div>
                            </div>
                            <div class="stories__card-info-row">
                                <span class="stories__card-tag">
                                    психология
                                </span>
                                <span class="stories__card-date">
                                    15 июня
                                </span>
                                <span class="stories__card-views-count">
                                    <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                        <use xlink:href="#eye-solid" />
                                    </svg>
                                    3k
                                </span>
                                <span class="stories__card-likes-count">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                        <use xlink:href="#heart-solid" />
                                    </svg>
                                    278
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="stories__card">
                            <div class="stories__card-image-container">
                                <img src="img/stories/image-2.jpg" alt="" class="stories__card-image">
                                <span class="stories__card-image-overlay"></span>
                                <div class="stories__card-image-container-content">
                                    <h5 class="stories__card-title">
                                        Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                    </h5>
                                </div>
                            </div>
                            <div class="stories__card-info-row">
                                <span class="stories__card-tag">
                                    психология
                                </span>
                                <span class="stories__card-date">
                                    15 июня
                                </span>
                                <span class="stories__card-views-count">
                                    <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                        <use xlink:href="#eye-solid" />
                                    </svg>
                                    3k
                                </span>
                                <span class="stories__card-likes-count">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                        <use xlink:href="#heart-solid" />
                                    </svg>
                                    278
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="stories__card">
                            <div class="stories__card-image-container">
                                <img src="img/stories/image-3.jpg" alt="" class="stories__card-image">
                                <span class="stories__card-image-overlay"></span>
                                <div class="stories__card-image-container-content">
                                    <h5 class="stories__card-title">
                                        Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                    </h5>
                                </div>
                            </div>
                            <div class="stories__card-info-row">
                                <span class="stories__card-tag">
                                    психология
                                </span>
                                <span class="stories__card-date">
                                    15 июня
                                </span>
                                <span class="stories__card-views-count">
                                    <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                        <use xlink:href="#eye-solid" />
                                    </svg>
                                    3k
                                </span>
                                <span class="stories__card-likes-count">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                        <use xlink:href="#heart-solid" />
                                    </svg>
                                    278
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="stories__card">
                            <div class="stories__card-image-container">
                                <img src="img/stories/image-4.jpg" alt="" class="stories__card-image">
                                <span class="stories__card-image-overlay"></span>
                                <div class="stories__card-image-container-content">
                                    <h5 class="stories__card-title">
                                        Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                                    </h5>
                                </div>
                            </div>
                            <div class="stories__card-info-row">
                                <span class="stories__card-tag">
                                    психология
                                </span>
                                <span class="stories__card-date">
                                    15 июня
                                </span>
                                <span class="stories__card-views-count">
                                    <svg width="12" height="8" aria-hidden="true" class="icon-eye">
                                        <use xlink:href="#eye-solid" />
                                    </svg>
                                    3k
                                </span>
                                <span class="stories__card-likes-count">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-heart">
                                        <use xlink:href="#heart-solid" />
                                    </svg>
                                    278
                                </span>
                            </div>
                        </a>
                    </div>
                  
                </div>
                
            </div>
        </div>
    </div>
</section>