<section class="text">
    <div class="container">
        <a href="#" class="text__back-link">
            <svg width="16" height="16" aria-hidden="true" class="icon-back">
                <use xlink:href="#back" />
            </svg>
            Назад к списку статей
        </a>

        <h1 class="text__main-heading">
            Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
        </h1>
        <div class="text__article-info">
            <span class="text__article-tag">
                психология
            </span>

            <span class="text__article-date">
                15 июня
            </span>

            <span class="text__article-views-count">
                <svg width="18" height="10" aria-hidden="true" class="icon-eye">
                    <use xlink:href="#eye" />
                </svg>
                3k
            </span>
            <span class="text__article-likes-count">
                <svg width="16" height="14" aria-hidden="true" class="icon-heart">
                    <use xlink:href="#heart" />
                </svg>
                278
            </span>
        </div>

        <div class="text__article-layout">
            <div class="text__article-layout-main">
                <div class="text__article-content">
                    <div class="text__article-picture-with-text">
                        <img src="img/picture-text.jpg" alt="" class="text__article-picture-with-text-image" />
                        <p class="text__article-picture-with-text-paragraph">
                            Кто-то посчитает этот слишком эгоистичным. Отчасти так оно и есть. Но этот эгоизм разумен и стратегически оправдан.
                        </p>
                    </div>

                    <p>
                        Когда люди достаточно напитывают себя, они потом готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя. Но не в качестве жертвы, а в качестве осознанного выбора. Жертвенная любовь
                        популярна в нашей культуре, но она приносит много страданий всем участникам. Мне бы хотелось любить как-то иначе. Сначала напитать себя, а потом идти с этим ресурсом в отношения.Когда люди достаточно напитывают себя, они потом
                        готовы быть с кем-то вместе и впоследствии, выбирая близкие отношения, отказаться от части себя.
                    </p>

                    <p>
                        Мы живём в далеко не идеальном мире. В нём есть большая куча проблем, и рядом ещё маленькие кучки. В большой у меня в лидерах неоконченный ремонт и осознание, что скоро придется менять машину. Маленькие кучки — это ненужные
                        ссоры с мужем, вылезшая непонятно откуда температура у сына, немытые полы и посуда, ну и так далее. Их постоянно убираешь, ходишь с веником и совочком от одной кучки к другой, а они все не заканчиваются, постоянно появляются
                        новые.
                    </p>

                    <p>
                        Есть ещё кучка «хочуууу»: хочу на море, и посудомойку, и новую мультиварку, и ногти с ресницами, и сыну сандалии, и абонемент в спортзал, и время на него, и т. д. Это почти всегда сбывается, рано или поздно, вот только
                        хочется. Я наблюдала за этим со своей скамейки с открытым ртом. Ничего себе мама!
                    </p>

                    <blockquote>
                        <p>
                            Я сразу вспомнила видео, которое гуляло по сети несколько лет назад. Там маленькая девочка собирается уехать в Африку.
                        </p>
                        <footer>
                            Татьяна Прокофьева
                        </footer>
                    </blockquote>

                    <ul>
                        <li>
                            Ребенок начинает идти к выходу, но через каждые несколько шагов оглядывается и наблюдает, идет ли мама за ним;
                        </li>

                        <li>
                            Мама дает ему чуть-чуть отойти, а потом идет за ним и снова повторяет, как ей не хочется, чтобы он уходил, и что ей очень грустно;
                        </li>

                        <li>
                            Еще через пару шагов ребенок бросается маме на шею и горько плачет. Занавес;
                        </li>

                        <li>
                            Я наблюдала за этим со своей скамейки с открытым ртом. Ничего себе мама!
                        </li>
                    </ul>

                    <img src="img/text-image.jpg" alt="" />


                    <h3>
                        Сама уже должна себе все чистить. Принеси да подай. Всю жизнь за ней будешь ходить?
                    </h3>

                    <ol>
                        <li>
                            Ребенок начинает идти к выходу, но через каждые несколько шагов оглядывается и наблюдает, идет ли мама за ним;
                        </li>

                        <li>
                            Мама дает ему чуть-чуть отойти, а потом идет за ним и снова повторяет, как ей не хочется, чтобы он уходил, и что ей очень грустно;
                        </li>

                        <li>
                            Еще через пару шагов ребенок бросается маме на шею и горько плачет. Занавес;
                        </li>

                        <li>
                            Я наблюдала за этим со своей скамейки с открытым ртом. Ничего себе мама!
                        </li>
                    </ol>
                </div>


                <div class="text__article-buttons">
                    <form class="text__article-vote" method="POST" action="/">
                        <label class="text__article-vote-label">
                            <input type="radio" name="vote" value="like" class="text__article-vote-input">
                            <div class="text__article-vote-label-content">
                                <svg width="16" height="14" aria-hidden="true" class="icon-vote-heart">
                                    <use xlink:href="#vote-heart" />
                                </svg>
                                Интересно
                            </div>
                          
                        </label>
                        <label class="text__article-vote-label">
                            <input type="radio" name="vote" value="dislike" class="text__article-vote-input">
                            <div class="text__article-vote-label-content">
                                <svg width="16" height="14" aria-hidden="true" class="icon-vote-smile">
                                    <use xlink:href="#vote-smile" />
                                </svg>
                                Непонятно
                            </div>
                           
                        </label>
                    
                    </form>


                    <div class="text__article-share">

                        <p class="text__article-share-text">
                            Поделиться
                        </p>
                        <div class="text__article-share-row">
                            <a href="#" class="text__article-share-link text__article-share-link--fb">
                                <svg width="20" height="20" aria-hidden="true" class="icon-fb">
                                    <use xlink:href="#fb" />
                                </svg>
                                <span class="text__article-share-link-count">
                                    241
                                </span>
                                
                            </a>
                            <a href="#" class="text__article-share-link text__article-share-link--tg">
                                <svg width="20" height="20" aria-hidden="true" class="icon-telegram">
                                    <use xlink:href="#telegram" />
                                </svg>
                                
                            </a>
                            <a href="#" class="text__article-share-link text__article-share-link--vk">
                                <svg width="20" height="20" aria-hidden="true" class="icon-telegram">
                                    <use xlink:href="#vk" />
                                </svg>
                                
                            </a>
                        </div>
                        
                    </div>


                    
                </div>

                <div class="text__article-widget">
                    <img src="img/widget.jpg" alt="">
                </div>
            </div>
            <div class="text__article-layout-sidebar">

                <h3 class="courses__sidebar-heading">
                    Курсы
                </h3>


                <a href="#" class="courses__sidebar-card">
                    <div class="courses__sidebar-card-image-container">
                        <img src="img/course-1.jpg" alt="" class="courses__sidebar-card-image">
                    </div>
                    <div class="courses__sidebar-card-content">
                        <h5 class="courses__sidebar-card-title">
                            Ребёнок, который привык, что его не слушаю 
                        </h5>
                        <div class="courses__sidebar-card-price">
                            <span class="courses__sidebar-card-price-after">
                                9 999 ₽
                            </span>
                            <span class="courses__sidebar-card-price-before">
                                13 999 ₽
                            </span>
                        </div>
                    </div>
                </a>
                <a href="#" class="courses__sidebar-card courses__sidebar-card--fullheight">
                    <div class="courses__sidebar-card-image-container">
                        <img src="img/course-1.jpg" alt="" class="courses__sidebar-card-image">
                    </div>
                    <div class="courses__sidebar-card-content">
                        <h5 class="courses__sidebar-card-title">
                            Ребёнок, который привык, что его не слушаю 
                        </h5>
                        <div class="courses__sidebar-card-price">
                            <span class="courses__sidebar-card-price-after">
                                9 999 ₽
                            </span>
                            <span class="courses__sidebar-card-price-before">
                                13 999 ₽
                            </span>
                        </div>
                    </div>
                </a>

                <div class="articles__sidebar-subscribe">
                    <h5 class="articles__sidebar-subscribe-title">
                        Получайте полезные статьи на емайл
                    </h5>

                    <form action="/" method="POST" class="articles__sidebar-form" data-parsley-validate>
                        <input type="email" class="articles__sidebar-form-input" required placeholder="Электронная почта">

                        <p class="articles__sidebar-form-remark">
                            Подписываясь, вы соглашаетесь с политикой конфиденциальности.
                        </p>

                        <button type="submit" class="articles__sidebar-form-submit">Подписаться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
