<section class="videos js-video-tabs">
    <div class="container">

        <h2 class="videos__heading">
            Видео
            <a href="#" class="videos__heading-link">
                Все видео
            </a>
        </h2>
        <div class="videos__content">
            <div class="videos__left-col">
                <div class="videos__tab-items">
                    <div class="videos__tab-item active">
                        <a data-fancybox="videoblock" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos__card" >
                            <div class="videos__card-image-container">
                                <img src="img/videos/preview.jpg" alt="" class="videos__card-image">

                                <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                    <use xlink:href="#play" />
                                </svg>
                            </div>
                            


                            <div class="videos__card-content">
                                <span class="videos__card-tag">
                                    новое
                                </span>
                                <h5 class="videos__card-title">
                                    Пока дети маленькие, мантра "дети расту
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="videos__tab-item active">
                        <a data-fancybox="videoblock" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos__card">
                            <div class="videos__card-image-container">
                                <img src="img/courses/image-1.jpg" alt="" class="videos__card-image">

                                <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                    <use xlink:href="#play" />
                                </svg>
                            </div>
                            


                            <div class="videos__card-content">
                                <span class="videos__card-tag">
                                    новое
                                </span>
                                <h5 class="videos__card-title">
                                    Пока дети маленькие, мантра "дети расту
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="videos__tab-item active">
                        <a data-fancybox="videoblock" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos__card">
                            <div class="videos__card-image-container">
                                <img src="img/courses/image-2.jpg" alt="" class="videos__card-image">

                                <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                    <use xlink:href="#play" />
                                </svg>
                            </div>
                            


                            <div class="videos__card-content">
                                <span class="videos__card-tag">
                                    новое
                                </span>
                                <h5 class="videos__card-title">
                                    Пока дети маленькие, мантра "дети расту
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="videos__tab-item active">
                        <a data-fancybox="videoblock" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos__card">
                            <div class="videos__card-image-container">
                                <img src="img/videos/preview.jpg" alt="" class="videos__card-image">

                                <svg width="88" height="88" aria-hidden="true" class="icon-play">
                                    <use xlink:href="#play" />
                                </svg>
                            </div>
                            


                            <div class="videos__card-content">
                                <span class="videos__card-tag">
                                    новое
                                </span>
                                <h5 class="videos__card-title">
                                    Пока дети маленькие, мантра "дети расту
                                </h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="videos__right-col">
                <div class="videos__tabs-nav">
                    <a href="#" class="videos__tabs-nav-card">
                        <div class="videos__tabs-nav-card-image-container">
                            <img src="img/videos/thumb.jpg" alt="" class="videos__tabs-nav-card-image">
                        </div>
                        <h5 class="videos__tabs-nav-card-name">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                    <a href="#" class="videos__tabs-nav-card">
                        <div class="videos__tabs-nav-card-image-container">
                            <img src="img/videos/thumb.jpg" alt="" class="videos__tabs-nav-card-image">
                        </div>
                        <h5 class="videos__tabs-nav-card-name">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                    <a href="#" class="videos__tabs-nav-card">
                        <div class="videos__tabs-nav-card-image-container">
                            <img src="img/videos/thumb.jpg" alt="" class="videos__tabs-nav-card-image">
                        </div>
                        <h5 class="videos__tabs-nav-card-name">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                    <a href="#" class="videos__tabs-nav-card">
                        <div class="videos__tabs-nav-card-image-container">
                            <img src="img/videos/thumb.jpg" alt="" class="videos__tabs-nav-card-image">
                        </div>
                        <h5 class="videos__tabs-nav-card-name">
                            Пока дети маленькие, мантра "дети расту
                        </h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>