<section class="webinar">
    <div class="container">
        <div class="webinar__content">
            <div class="webinar__date">
                16 февраля в 19:00
            </div>
            <h4 class="webinar__name">
                Синдром ионы или сказ о том, как не зарыть талант в землю
            </h4>
            <div class="webinar__subscribe">
                <img src="img/webinar-girl.png" alt="Картинка к вебинару" class="webinar__image">
                <p class="webinar__author">
                    Открытый вебинар Аглаи Датешидзе
                </p>
                <a href="#" class="webinar__subscribe-link">
                    Записаться
                </a>
            </div>
        </div>
    </div>
</section>