<section class="write-us">
    <div class="container">
        <div class="write-us__row">
            <div class="write-us-left-col">
                <h3 class="write-us__heading">
                    Напишите нам
                </h3>
                <form action="/" method="POST" class="write-us__form" data-parsley-validate>
                    <div class="write-us__form-row">
                        <input type="text" class="write-us__input" placeholder="Имя" required>
                    </div>
                    <div class="write-us__form-row">
                        <input type="tel" name="phone" class="write-us__input js-phone-input" placeholder="Телефон" required>
                    </div>
                    <div class="write-us__form-row write-us__form-row--fullwidth">
                        <textarea name="message" class="write-us__textarea" placeholder="Сообщение" required></textarea>
                    </div>
                    <div class="write-us__submit-wrapper">
                        <button type="submit" class="write-us__form-submit">
                            Написать
                        </button>
                    </div>
                </form>
            </div>
            <div class="write-us-right-col">
                <img src="img/write-us.jpg" alt="" class="write-us__image">
            </div>
        </div>
    </div>
</section>