{% if not(title) %} {% set title = "Modern Boilerplate" %} {% endif %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script>
            window.MSInputMethodContext && document.documentMode && document.write('<script src="assets/js/ie11CustomProperties.js"><\x2fscript>');
        </script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=cyrillic" rel="stylesheet" />
        <link rel="stylesheet" href="css/styles.min.css" />
        <title>
            {{ title }}
        </title>
    </head>
    <body class="no-touch" ontouchstart="">
        <div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
            {% include "sprite.njk" %}
        </div>

        <div class="page-content">
            {% include "partials/header.html" %}
            <main class="page-main">
                {% block content %}{% endblock %}
            </main>
            {% include "partials/footer.html" %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="js/app.js"></script>
            <script>
                // Временные скрипты форм

                const psychoForms = Array.from(document.querySelectorAll('.psycho__form'));

                psychoForms.forEach(form => {
                    form.addEventListener('submit', event => {
                        event.preventDefault();
                        const psychoContainer = form.closest('.psycho');

                        if ($(form).parsley().isValid() && psychoContainer) {
                            psychoContainer.classList.add('success');
                            setTimeout(() => {
                                psychoContainer.classList.remove('success');
                            }, 3500);
                        }
                    });
                });


                // About forms

                const aboutForms = Array.from(document.querySelectorAll('.write-us__form'));

                aboutForms.forEach(form => {
                    form.addEventListener('submit', event => {
                        event.preventDefault();
                        const container = form.closest('.write-us');

                        if ($(form).parsley().isValid() && container) {
                            container.classList.add('success');
                            setTimeout(() => {
                                container.classList.remove('success');
                            }, 3500);
                        }
                    });
                })
            </script>
        </div>
    </body>
</html>
