<footer class="page-footer">

    <div class="page-footer__bg">
        <img src="img/footer-cemicircle.svg" alt="" class="page-footer__bg-image">
    </div>
    <div class="container">
        <div class="page-footer__top-row">
            <a href="#" class="page-footer__logo">
                <img src="img/logo.svg" alt="" width="208" class="page-footer__logo-image" />
            </a>
            <div class="page-footer__nav-wrapper">
                <nav class="page-footer__nav">
                    <div class="page-footer__nav-block">
                        <h5 class="page-footer__nav-section-name">
                            <a href="#">Статьи</a>
                        </h5>
                        <ul class="page-footer__nav-list">
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Беременность
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Психология
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Здоровье
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Отцы и дети
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Законодательство
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Развлечения
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Обучение
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-footer__nav-block">
                        <h5 class="page-footer__nav-section-name">
                            <a href="#">Видео</a>
                        </h5>
                        <ul class="page-footer__nav-list">
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Отцы и дети
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Законодательство
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Здоровье
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Беременность
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Психология
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-footer__nav-block">
                        <h5 class="page-footer__nav-section-name">
                            <a href="#">Истории</a>
                        </h5>
                        <ul class="page-footer__nav-list">
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Отцы и дети
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Психология
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Здоровье
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Беременность
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-footer__nav-block">
                        <h5 class="page-footer__nav-section-name">
                            <a href="#">Курсы</a>
                        </h5>
                        <ul class="page-footer__nav-list">
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Здоровье
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Психология
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Беременность
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Законодательство
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Отцы и дети
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Развлечения
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-footer__nav-block">
                        <h5 class="page-footer__nav-section-name">
                            <a href="#">Распродажа</a>
                        </h5>
                        <h5 class="page-footer__nav-section-name">
                            <a href="#">Бесплатное</a>
                        </h5>
                    </div>
                </nav>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <a href="#" class="page-footer__rules">
                Условия пользователя
            </a>

            <a href="#" class="page-footer__made-by">
                Создание сайта

                <img src="img/markweber-logo.svg" width="96" alt="" class="page-footer__made-by-logo">
            </a>
        </div>
    </div>
</footer>
