<header class="page-header">
    <div class="page-header__bg">
        <img src="img/header-cemicircle.svg" alt="" class="page-header__bg-image">
    </div>
    <div class="container">
        <div class="page-header__row">
            <a href="index.html" class="page-header__logo">
                <img src="img/logo.svg" alt="Логотип" width="324" class="page-header__logo-image" />
            </a>

            <div class="page-header__navigation">
                <div class="page-header__navigation-inner">
                    <nav class="page-header__main-nav">
                        <a href="#" class="page-header__nav-link">
                            Статьи
                        </a>
                        <a href="#" class="page-header__nav-link">
                            Видео
                        </a>
                        <a href="#" class="page-header__nav-link">
                            Истории
                        </a>
                        <a href="#" class="page-header__nav-link">
                            Курсы
                        </a>
                        <a href="#" class="page-header__nav-link">
                            Распродажа
                        </a>
                        <a href="#" class="page-header__nav-link">
                            Бесплатное
                        </a>
                        <div class="page-header__main-nav-more">
                            <span class="page-header__main-nav-more-content">
                                <svg width="28" height="6" aria-hidden="true" class="icon-dots">
                                    <use xlink:href="#dots" />
                                </svg>
                            </span>
                            <div class="page-header__main-nav-more-dropdown">
                                <div class="page-header__main-nav-more-dropdown-inner">
                                    <a href="#" class="page-header__nav-link page-header__nav-link--dropdown-link">
                                        Бесплатное
                                    </a>
                                    <a href="#" class="page-header__nav-link page-header__nav-link--dropdown-link">
                                        Курсы
                                    </a>
                                    <a href="#" class="page-header__nav-link page-header__nav-link--dropdown-link">
                                        Истории
                                    </a>
                                </div>
                            </div>
                        </div>

                        <a href="#" class="page-header__search-link">
                            <svg width="28" height="6" aria-hidden="true" class="icon-search">
                                <use xlink:href="#search" />
                            </svg>
                            <span class="page-header__search-link-text">
                                Поиск
                            </span>
                        </a>
                    </nav>
                    <div class="page-header__social">
                        <a href="#" class="page-header__social-link">
                            <svg width="22" height="22" aria-hidden="true" class="icon-instagram">
                                <use xlink:href="#instagram" />
                            </svg>
                        </a>
                        <a href="#" class="page-header__social-link">
                            <svg width="22" height="22" aria-hidden="true" class="icon-fb">
                                <use xlink:href="#fb" />
                            </svg>
                        </a>
                        <a href="#" class="page-header__social-link">
                            <svg width="22" height="22" aria-hidden="true" class="icon-youtube">
                                <use xlink:href="#youtube" />
                            </svg>
                        </a>
                        <a href="#" class="page-header__social-link">
                            <svg width="22" height="22" aria-hidden="true" class="icon-telegram">
                                <use xlink:href="#telegram" />
                            </svg>
                        </a>
                        <a href="#" class="page-header__social-link">
                            <svg width="22" height="22" aria-hidden="true" class="icon-vk">
                                <use xlink:href="#vk" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <a href="#" class="page-header__mobile-search-link">
                <svg width="28" height="6" aria-hidden="true" class="icon-search">
                    <use xlink:href="#search" />
                </svg>
            </a>
            <button class="page-header__burger">
                <span class="page-header__burger-content">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>
        </div>
    </div>
</header>
