.card-slider {
    position: relative;
    
    padding: 8.4rem 0;


    @include breakpoint(small-mobile) {
        padding-top: 1.2rem;
        padding-bottom: 6rem;
    }
}



.card-slider__card {
    position: relative;
    user-select: none;
    display: flex;
    transform: translateZ(0);
    transition: transform .2s;
    backface-visibility: hidden;
    &::before {
        content: '';
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        padding-top: 100%;
        flex-shrink: 0;
    }

    &::after {
        content: '';
        display: table;
        clear: both;
    }

    @media screen and (min-width: 577px) {
        &:hover {
            transform: translateZ(0) scale(1.05);
        }
    }
}


.card-slider__card-content {
    padding: 4rem;
    width: 100%;
    // background-color: red;
    flex-grow: 1;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    @include breakpoint(small-mobile) {
        padding: 2.2rem;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) -89.95%, rgba(0, 0, 0, 0) 57.45%);
    }
}



.card-slider__card-tag {
    background-color: var(--primary-color);
    color: white;
    padding: .6rem 1.2rem;
    font-family: var(--aqum);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.08em;
    text-align: center;
    align-self: flex-start;
    @include breakpoint(small-mobile) {
        padding: .8rem;
        font-size: 1rem;
    }
}


.card-slider__date {
    margin-bottom: auto;
    font-family: var(--aqum);
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 0.07em;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 1.2rem;
    text-align: center;
    align-self: flex-start;
    @include breakpoint(mobile) {
        font-size: 1.2rem;
        padding: .7rem 1rem;
        margin-left: auto;
    }
}

.card-slider__card-title {
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 700;
    margin-top: 1.8rem;

    @include breakpoint(small-mobile) {
        margin-top: 1rem;
        font-size: 1.8rem;
    }
}

.card-slider__desktop {
    position: relative;
    @include breakpoint(small-mobile) {
        display: none;
    }
    .swiper-container {
        padding: 3rem;
        margin: -3rem;
    }
}

.card-slider__desktop-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    transition: opacity .2s;
    &--prev {
        right: 100%;
        margin-right: 3rem;
    }
    &--next {
        left: 100%;
        margin-left: 3rem;
    }

    &.swiper-button-disabled {
        opacity: .5;
        cursor: default;
    }
    svg {
        width: 1.6rem;
        height: 2.4rem;
        fill: white;
        display: block; 
        transition: fill .2s;
    }


    &:not(.swiper-button-disabled):hover svg {
        fill: var(--text-color);
    }
}

.card-slider__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    @include objectFitCover();
}


.card-slider__card-play {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8.6rem;
    height: 8.6rem;
}


.card-slider__label {
    background-color: #fff;
    position: absolute;
    left: calc((100vw - 100%) / 2 * -1);
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 700;
    padding: 1.2rem 2rem;
    right: calc(100% - 12rem);
    text-align: right;
    z-index: 20;
    top: 7rem;
    pointer-events: none;


    @include breakpoint(small-mobile) {
        font-size: 1.4rem;
        padding: .9rem 1.2rem;
        top: 2.5rem;
        right: calc(100% - 9rem);
    }
}


.card-slider__mobile {
    position: relative;
    display: none;

    @include breakpoint(small-mobile) {
        display: block;
    }
}


.card-slider__mobile-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 80;
    svg {   
        fill: white;
        width: 1.2rem;
        height: 2rem;
    }


    &--prev {
        left: 1.2rem;
    }

    &--next {
        right: 1.2rem;
    }
}

.card-slider__mobile-slider {
   
}

.card-slider__mobile-slider-container {
    position: relative;
    &::after {
        content: '';
        padding-bottom: 100%;
        width: 100%;
        display: block;
    }
}


.card-slider__mobile-slider-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: transform .6s;
  
    &.swipe-left {
        animation-name: swipe-left;
        animation-duration: .6s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    &.swipe-right {
        animation-name: swipe-right;
        animation-duration: .6s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
}




@keyframes swipe-left {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateZ(0) translateX(-150%) rotate(-20deg);
        opacity: 0;
    }
}


@keyframes swipe-right {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateZ(0) translateX(150%) rotate(20deg);
        opacity: 0;
    }
}


