.stories {
    margin-bottom: 9rem;
    @include breakpoint(small-mobile) {
        margin-bottom: 3.3rem;
    }
}

.stories__heading {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    font-size: 4.6rem;

    @include breakpoint(small-mobile) {
        font-size: 2.1rem;
        margin-bottom: 2.2rem;
    }
}

.stories__heading-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 700;
    margin-left: 1.7rem;
    text-transform: uppercase;
    transition: color 0.2s;

    @include breakpoint(small-mobile) {
        font-size: 1.2rem;
        margin-left: 0.6rem;
        position: relative;
        top: -0.3rem;
    }
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        color: var(--text-color);
    }
}

.stories__content {
    .swiper-container {
        margin: -2rem;
        padding: 2rem;
        overflow: visible;
    }

    .swiper-wrapper {
        @include breakpointMF(small-tablet) {
            flex-wrap: wrap;
            display: flex;
            margin: -2.4rem;
            box-sizing: border-box;
            width: auto;
        }
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        @include breakpointMF(small-tablet) {
            padding: 2.4rem;
            width: 25%;
        }

        @include breakpoint(mobile) {
            width: 30rem;
        }
    }
}

.stories__card {
    color: white;
    transform: translateZ(0);
    transition: transform 0.4s;
    position: relative;
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        transform: translateZ(0) scale(1.03);
    }
}

.stories__card-image-container {
    display: flex;
   
    color: white;
    margin-bottom: 2rem;
    position: relative;
    &::before {
        content: '';
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        padding-top: 130%;
        flex-shrink: 0;
    }

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.stories__card-image-container-content {
    display: inline-flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;

    padding: 2.4rem;
    justify-content: flex-end;
    position: relative;
    z-index: 40;
}

.stories__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
    z-index: 10;
}

.stories__card-image-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: linear-gradient(360deg, #000000 -36.82%, rgba(0, 0, 0, 0) 50%);
}

.stories__card-title {
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-transform: uppercase;
    font-weight: 700;

    @include breakpoint(small-mobile) {
        font-size: 1.5rem;
    }
}

.stories__card-info-row {
    display: flex;
    align-items: center;
}

.stories__card-tag {
    background-color: #fff;
    color: var(--text-color);

    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 1.4rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin-right: 1rem;
    &:link,
    &:visited {
        color: var(--text-color);
    }

    .stories__card--purple & {
        background-color: var(--primary-color);
        color: white;
    }

    @include breakpoint(small-mobile) {
        font-size: 1rem;
        padding: 0.5rem 1.4rem;
    }
}

.stories__card-date {
    margin-left: auto;
    color: white;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-right: 1rem;
    font-family: var(--ping-fang);

    .stories__card--purple & {
        color: #a8a8a8;
    }
}

.stories__card-views-count {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-right: 1.2rem;
    font-family: var(--ping-fang);
    color: white;
    svg {
        width: 1.3rem;
        height: 0.9rem;
        fill: white;
        flex-shrink: 0;
        margin-right: 0.35rem;
    }

    .stories__card--purple & {
        color: #a8a8a8;
        svg {
            fill: #a8a8a8;
        }
    }
}

.stories__card-likes-count {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-right: 1.2rem;
    font-family: var(--ping-fang);
    color: white;
    svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: white;
        flex-shrink: 0;
        margin-right: 0.35rem;
    }

    .stories__card--purple & {
        color: #a8a8a8;
        svg {
            fill: #a8a8a8;
        }
    }
}
