.text {
    margin-top: 10rem;
    margin-bottom: 12rem;

    @include breakpoint(small-mobile) {
        margin-top: 6rem;
        margin-bottom: 5rem;
    }
}

.text__back-link {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 3rem;
    transition: color 0.2s;
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
        fill: var(--primary-color);
        margin-right: 1.3rem;
        transition: fill 0.2s;
    }

    &:hover {
        color: var(--text-color);

        svg {
            fill: var(--text-color);
        }
    }
}

.text__main-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 6.2rem;
    margin-bottom: 2rem;

    @include breakpoint(small-mobile) {
        font-size: 2.4rem;
        line-height: 1.3;
    }
}

.text__article-info {
    display: flex;
    align-items: center;
}

.text__article-tag {
    background-color: var(--primary-color);
    font-size: 1.7rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0.4rem 1.7rem;
    color: white;
    margin-right: 2.4rem;

    @include breakpoint(small-mobile) {
        background-color: var(--primary-color);
        color: white;
        font-size: 1.2rem;
        line-height: 1.4rem;
        text-align: center;
        letter-spacing: 0.08em;
        margin-right: 0.6rem;
        text-transform: uppercase;
        padding: 0.6rem 1.7rem;
    }
}

.text__article-date {
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-right: 1.8rem;

    @include breakpoint(small-mobile) {
        font-size: 1rem;
        line-height: 1.2rem;
        margin-right: 1rem;
        color: var(--text-color);
    }
}

.text__article-views-count {
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    margin-right: 1.8rem;
    display: flex;
    align-items: center;
    svg {
        width: 1.8rem;
        height: 1rem;
        fill: var(--text-color);
        flex-shrink: 0;
        margin-right: 0.7rem;
    }

    @include breakpoint(small-mobile) {
        font-size: 1rem;
        line-height: 1.2rem;
        margin-right: 1.2rem;
        color: var(--text-color);
        &:link,
        &:visited {
            color: var(--text-color);
        }

        svg {
            width: 1.2rem;
            height: 0.6rem;
            fill: currentColor;
            flex-shrink: 0;
            margin-right: 0.3rem;
        }
    }
}

.text__article-likes-count {
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    margin-right: 1.8rem;
    display: flex;
    align-items: center;
    svg {
        width: 1.6rem;
        height: 1.4rem;
        margin-right: 0.6rem;
        fill: var(--text-color);
        flex-shrink: 0;
    }

    @include breakpoint(small-mobile) {
        font-size: 1rem;
        line-height: 1.2rem;
        color: var(--text-color);
        &:link,
        &:visited {
            color: var(--text-color);
        }

        svg {
            fill: currentColor;
            width: 1.2rem;
            height: 1rem;
            flex-shrink: 0;
            margin-right: 0.3rem;
        }
    }
}

.text__article-layout {
    display: flex;
    margin-top: 8rem;

    @include breakpoint(small-tablet) {
        flex-direction: column;
    }

    @include breakpoint(small-mobile) {
        margin-top: 3rem;
    }
}

.text__article-layout-main {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(small-tablet) {
        width: 100%;
        flex-grow: 0;
    }
}

.text__article-layout-sidebar {
    width: 33.6rem;
    flex-shrink: 0;
    margin-left: 12rem;

    &--small-margin {
        margin-left: 4.8rem;
    }

    @include breakpoint(small-tablet) {
        display: none;

        @supports (display: grid) {
            width: 100%;
            flex-shrink: 1;
            margin: 0;
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-gap: 3rem;
        }
    }

    @include breakpoint(mobile) {
        @supports (display: grid) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    @include breakpoint(small-mobile) {
        @supports (display: grid) {
            grid-gap: var(--content-padding);
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}

.text__article-picture-with-text {
    display: flex;
    align-items: center;
    margin: 6.2rem 0;
    font-family: var(--helios);

    @include breakpoint(small-mobile) {
        flex-direction: column;
        align-items: initial;
        margin: 3rem 0;
    }
}

.text__article-picture-with-text-image {
    width: 44rem;
    height: auto;
    flex-shrink: 0;
    margin-right: 4.8rem;
    @include breakpoint(small-mobile) {
        width: 100%;
        margin-right: 0;
        flex-shrink: 1;
        margin-bottom: 2rem;
    }
}

.text__article-picture-with-text-paragraph {
    width: 40%;
    flex-grow: 1;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.6rem;

    @include breakpoint(small-mobile) {
        width: 100%;
        font-size: 2rem;
        line-height: 1.2;
    }
}

.text__article-content {
    font-size: 2.1rem;
    line-height: 3.2rem;
    font-family: var(--helios-standard);

    @include breakpoint(small-mobile) {
        font-size: 1.6rem;
        line-height: 1.4;
    }
    & > * {
        &:first-child {
            margin-top: 0 !important;
        }
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    p:not([class]) {
        margin: 2rem 0;
        @include breakpoint(small-mobile) {
            margin: 1.5rem 0;
        }
    }

    blockquote {
        padding: 14.8rem;
        padding-top: 9rem;
        padding-bottom: 8rem;

        margin: 6rem 0;
        position: relative;
        font-family: var(--helios);
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #f0f7fd;
            z-index: -1;

            @include breakpoint(small-mobile) {
                left: calc((100vw - 100%) / 2 * -1);
                width: 100vw;
            }
        }

        @include breakpoint(small-mobile) {
            margin: 3rem 0;
            padding: 2.3rem 3rem;
        }
        &::before {
            content: '';
            left: 8rem;
            top: 9.4rem;
            position: absolute;
            width: 4.4rem;
            height: 4.4rem;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='43' height='42' viewBox='0 0 43 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.746 25.1224L17.746 42L0 42L-1.00062e-06 30.5543C-1.63943e-06 23.2471 1.46258 16.6836 4.38775 10.8637C7.31292 5.04388 11.7657 1.42263 17.746 2.20777e-06L17.746 10.6697C15.7309 11.3811 14.0083 13.1917 12.5782 16.1016C11.0831 18.9469 10.3356 21.9538 10.3356 25.1224L17.746 25.1224ZM43 25.1224L43 42L25.254 42L25.254 30.5543C25.254 23.2471 26.7165 16.6836 29.6417 10.8637C32.5669 5.04388 37.0196 1.42263 43 0L43 10.6697C40.9849 11.3811 39.2623 13.1917 37.8322 16.1016C36.3371 18.9469 35.5896 21.9538 35.5896 25.1224L43 25.1224Z' fill='%23B4A8E3'/%3E%3C/svg%3E%0A");

            @include breakpoint(small-mobile) {
                left: 0;
                top: 1.8rem;
                width: 1.8rem;
                height: 1.8rem;
            }
        }
        p,
        p:not([class]) {
            font-weight: 700;
            font-size: 2.8rem;
            line-height: 3.5rem;
            margin: 0;
            @include breakpoint(small-mobile) {
                font-size: 2rem;
                line-height: 1.3;
            }
        }

        footer {
            margin-top: 1.8rem;
            font-size: 2.1rem;
            line-height: 2.4rem;
            font-weight: 300;
            font-family: var(--helios-standard);

            @include breakpoint(small-mobile) {
                font-size: 1.8rem;
                line-height: 1.3;
                margin-top: 1.5rem;
            }
        }
    }

    ul:not([class]) {
        margin: 2rem 0;

        @include breakpoint(small-mobile) {
            margin: 1.5rem 0;
        }
        li {
            padding-left: 3.7rem;
            position: relative;
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: var(--primary-color);
                top: 1.15rem;
            }

            @include breakpoint(small-mobile) {
                padding-left: 2.5rem;
                margin-bottom: 1.5rem;
                &::before {
                    top: 0.7rem;
                }
            }
        }
    }

    & > img:not([class]) {
        margin: 4rem 0;

        height: auto;
        @include breakpoint(small-mobile) {
            margin: 3rem 0;
        }
    }

    h1:not([class]),
    h2:not([class]),
    h3:not([class]),
    h4:not([class]),
    h5:not([class]),
    h6:not([class]) {
        font-size: 2.8rem;
        line-height: 3.5rem;
        margin: 3rem 0;
        font-weight: 700;
        font-family: var(--helios);
        clear: both;
        @include breakpoint(small-mobile) {
            font-size: 2rem;
            line-height: 1.3;
            margin: 2rem 0;
        }
    }

    h4:not([class]),
    h5:not([class]),
    h6:not([class]) {
        font-size: 2.5rem;
        line-height: 3.5rem;
        @include breakpoint(small-mobile) {
            font-size: 1.8rem;
            line-height: 1.3;
        }
    }

    ol:not([class]) {
        margin: 2rem 0;
        @include breakpoint(small-mobile) {
            margin: 1.5rem 0;
        }
        li {
            padding-left: 3.7rem;
            position: relative;
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: counter(ordered-list) '.';
                font-weight: 700;
                color: var(--primary-color);
                position: absolute;
                left: 0;
                top: 0;
                font-family: var(--helios);
            }

            @include breakpoint(small-mobile) {
                padding-left: 2.5rem;
                margin-bottom: 1.5rem;
            }
        }
    }

    .floated-left,
    .floated-right {
        width: 52rem;
        margin-top: 0;
        margin-bottom: 4rem;
        @include breakpoint(small-mobile) {
            margin-bottom: 3rem;
        }
    }

    .floated-left {
        float: left;
        margin-right: 4.8rem;
    }

    .floated-right {
        float: right;
        margin-left: 4.8rem;
    }

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

.text__article-buttons {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(small-mobile) {
        margin-top: 3rem;
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
    }
}

.text__article-vote {
    display: flex;
    // @include breakpoint(small-mobile) {
    //     flex-direction: column;
    // }
}

.text__article-vote-input {
    @include visuallyHidden();
}

.text__article-vote-label {
}

.text__article-vote-label-content {
    min-width: 27rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #f0f7fd;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
    padding: 2.4rem;
    font-size: 1.9rem;
    transition: background-color 0.2s;
    cursor: pointer;
    svg {
        fill: currentColor;
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 3rem;
        height: 3rem;
    }
   

    &:hover {
        background: darken(#f0f7fd, 5%);
    }

   

    @include breakpoint(small-mobile) {
        width: 50%;
        display: flex;
        font-size: 1.4rem;
        padding: 2rem;
        min-width: auto;
        svg {
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1rem;
        }
    }
}


.text__article-vote-input:checked ~ .text__article-vote-label-content {
    background: #fb6955;
    color: white;
    cursor: default;
  

    &:hover {
        background: #fb6955;
    }
}

.text__article-share {
    @include breakpoint(small-mobile) {
        margin-top: 2rem;
        text-align: right;
    }
}

.text__article-share-text {
    margin-bottom: 1.3rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.text__article-share-row {
    display: flex;
    align-items: center;
    @include breakpoint(small-mobile) {
        justify-content: flex-end;
    }
}

.text__article-share-link {
    display: flex;
    align-items: center;
    padding: 1rem 1.6rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-right: 1rem;
    background: #3464a6;
    color: white;
    height: 4rem;
    min-width: 4rem;
    position: relative;
    transition: background-color 0.2s;
    svg {
        width: 2rem;
        height: 2rem;
        fill: white;
        flex-shrink: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.9rem;
    }
    &:last-child {
        margin-right: 0;
    }
    &--fb {
        background: #3464a6;

        &:hover {
            background: lighten(#3464a6, 5%);
        }
    }

    &--tg {
        background: #35abda;

        &:hover {
            background: lighten(#35abda, 5%);
        }
    }
    &--vk {
        background: #5178a1;

        &:hover {
            background: lighten(#5178a1, 5%);
        }
    }
    &:link,
    &:visited {
        color: white;
    }
}

.text__article-share-link-count {
    padding-left: 2rem;
}

.text__article-widget {
    margin-top: 10rem;

    @include breakpoint(small-mobile) {
        margin-top: 5rem;
    }
    img,
    iframe {
        width: 100%;
        height: auto;
        display: block;
    }
}

.text__article-tabs-block {
    margin: 9rem 0;
    font-family: var(--helios);
    @include breakpoint(small-mobile) {
        margin: 4rem 0;
    }
}

.text__article-tabs-block-nav {
    display: flex;
    align-items: center;
    margin-bottom: 3.8rem;

    @include breakpoint(small-mobile) {
        margin-bottom: 0;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        margin-left: calc(-1 * var(--content-padding));
        margin-right: calc(-1 * var(--content-padding));
        padding-left: var(--content-padding);
        padding-right: var(--content-padding);
        padding-bottom: 2rem;
        @include noScrollbar();
        &::after {
            content: '';
            height: 1px;
            flex-shrink: 0;
            width: var(--content-padding);
            flex-shrink: 0;
        }
    }
}

.text__article-tabs-block-btn {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.3;
    text-transform: uppercase;
    padding: 1.2rem 0;
    margin-right: 2.8rem;
    position: relative;
    transition: color 0.2s;
    &::after {
        content: '';
        pointer-events: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--primary-color);
        height: 0.5rem;
        z-index: 1;
        transition: opacity 0.2s;
        opacity: 0;
        @include breakpoint(small-mobile) {
            height: 3px;
        }
    }
    &:link,
    &:visited {
        color: #a8a8a8;
    }
    &.active {
        &:link,
        &:visited {
            color: var(--text-color);
        }

        &::after {
            opacity: 1;
        }
    }

    @include breakpoint(small-mobile) {
        font-size: 1.6rem;
        line-height: 1;
        margin-right: 1.5rem;
        white-space: nowrap;
    }
}

.text__article-tabs-block-items {
    position: relative;
}

.text__article-tabs-block-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    &.active {
        position: relative;
        opacity: 1;
        visibility: visible;
        transition: all 0.4s;
        z-index: 10;
    }
}

.text__article-advantages-block {
    margin: 9rem 0;
    background-color: #f0f7fd;
    padding: 5.2rem;
    padding-top: 4.4rem;
    padding-bottom: 7.4rem;
    font-family: var(--helios);

    @include breakpoint(small-mobile) {
        margin: 4rem 0;
        padding: 2.5rem;
    }
}

.text__article-advantages-block-heading {
    font-size: 2.5rem;
    line-height: 3.6rem;
    font-weight: 700;
    margin-bottom: 6rem;
    @include breakpoint(small-mobile) {
        font-size: 1.8rem;
        line-height: 1.3;
        margin-bottom: 3rem;
    }
}

.text__article-advantages-block-list {
    display: flex;
    flex-wrap: wrap;
    margin: -3rem -5rem;
    @include breakpoint(small-mobile) {
        margin: -2rem;
    }
}

.text__article-advantages-block-list-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
    @include breakpoint(small-mobile) {
        width: 50%;
        padding: 2rem;
    }
}

.text__article-advantages-block-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    align-items: center;
}

.text__article-advantages-block-card-icon-container {
    width: 7rem;
    height: 7rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
    position: relative;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80%;
        height: auto;
        max-height: 80%;
        @include objectFitContain();
        transform: translate(-50%, -50%);
    }

    @include breakpoint(small-mobile) {
        width: 5rem;
        height: 5rem;
        margin-bottom: 1.5rem;
    }
}

.text__article-advantages-block-card-title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
    @include breakpoint(small-mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }
}

.text__article-buy-course {
    margin: 9rem 0;
    color: white;
    font-family: var(--helios);
    @include breakpoint(small-mobile) {
        margin: 4rem 0;
    }
}

.text__article-buy-course-row {
    display: flex;
    @include breakpoint(small-mobile) {
        flex-direction: column;
    }
}

.text__article-buy-course-left-col {
    width: 50%;
    flex-grow: 1;
    padding: 5.2rem;
    padding-top: 4.5rem;
    padding-bottom: 7.6rem;
    display: flex;
    flex-direction: column;
    background: #ff7070;
    @include breakpoint(small-mobile) {
        width: 100%;
        padding: 2.5rem;
    }
}

.text__article-buy-course-right-col {
    width: 38.4rem;
    flex-shrink: 0;
    padding: 4rem;
    padding-top: 4.8rem;
    background: #f56b6b;
    display: flex;
    flex-direction: column;
    @include breakpoint(small-mobile) {
        width: 100%;
        padding: 2.5rem;
    }
}

.text__article-buy-course-heading {
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 5.7rem;
    text-transform: uppercase;
    margin-bottom: 5.8rem;
    @include breakpoint(small-mobile) {
        font-size: 2.4rem;
        line-height: 1.3;
        margin-bottom: 3rem;
    }
}

.text__article-buy-course-list {
    display: flex;
    flex-wrap: wrap;
    margin: -2.4rem -3rem;
    @include breakpoint(small-mobile) {
        margin: -2rem;
    }
}

.text__article-buy-course-list-item {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    padding: 2.4rem 3rem;
    @include breakpoint(small-mobile) {
        width: 50%;
        padding: 2rem;
    }
}

.text__article-buy-course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.text__article-buy-course-card-icon-container {
    position: relative;
    width: 5rem;
    margin: 0 auto;
    margin-bottom: 1.7rem;

    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    @include breakpoint(small-mobile) {
        width: 4.5rem;
        margin-bottom: 1rem;
    }
}

.text__article-buy-course-card-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    max-width: 80%;
    max-height: 80%;
    @include objectFitContain();
    transform: translate(-50%, -50%);
}

.text__article-buy-course-card-title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    font-weight: 400;
    @include breakpoint(small-mobile) {
        font-size: 1.4rem;
        line-height: 1.3;
    }
}

.text__article-buy-course-small-heading {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    text-transform: uppercase;
    margin-bottom: 4.2rem;
    @include breakpoint(small-mobile) {
        margin-bottom: 2.5rem;
        font-size: 1.8rem;
        line-height: 1.3;
    }
}

.text__article-buy-course-price-paragraph {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    @include breakpoint(small-mobile) {
        margin-bottom: 0.5rem;
    }
}

.text__article-buy-course-price-before {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.4rem;
    position: relative;
    margin-bottom: 3rem;
    display: inline-flex;
    font-family: var(--helios-standard);

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        height: 1px;
        background-color: #fff;
        transform: translateY(-50%) rotate(-8deg);
        width: 100%;
    }

    @include breakpoint(small-mobile) {
        margin-bottom: 2rem;
    }
}

.text__article-buy-course-price-after {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 4.7rem;

    @include breakpoint(small-mobile) {
        font-size: 2.2rem;
        line-height: 1.3;
    }
}

.text__article-buy-course-price {
    margin-bottom: 2rem;
}

.text__article-buy-course-link {
    font-size: 1.6rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    padding: 2.2rem;
    background-color: #2d2d2d;
    display: block;
    text-align: center;
    margin-top: auto;
    transition: background-color 0.2s;
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: lighten(#2d2d2d, 5%);
    }

    @include breakpoint(small-mobile) {
        font-size: 1.4rem;
        padding: 1.5rem;
        margin-top: 1rem;
    }
}

.text__article-speakers {
    margin: 9rem 0;
    font-family: var(--helios);
    @include breakpoint(small-mobile) {
        margin: 4rem 0;
    }
}

.text__article-speakers-item-content {
    width: 40%;
    flex-grow: 1;
    margin-left: auto;
    padding: 5.2rem;

    align-self: center;

    @include breakpoint(small-mobile) {
        width: 100%;
        flex-grow: 0;
        margin-left: 0;
        align-self: initial;
        padding: 2.5rem;
    }
}

.text__article-speakers-heading {
    font-size: 2.5rem;
    line-height: 3.6rem;
    font-weight: 700;
    margin-bottom: 2.4rem;

    @include breakpoint(small-mobile) {
        font-size: 1.8rem;
        line-height: 1.3;
        margin-bottom: 1.5rem;
    }
}

.text__article-speakers-item {
    background-color: #f0edf9;
    position: relative;
    display: flex;
    min-height: 40rem;
    margin-bottom: 2.4rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(small-mobile) {
        flex-direction: column;
        margin-bottom: var(--content-padding);
        min-height: auto;
    }
}

.text__article-speakers-item-content-heading {
    font-size: 2.5rem;
    line-height: 3.1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.8rem;

    @include breakpoint(small-mobile) {
        font-size: 1.8rem;
        line-height: 1.3;
        margin-bottom: 1rem;
    }
}

.text__article-speakers-item-content-text {
    font-size: 1.6rem;
    line-height: 2.2rem;

    @include breakpoint(small-mobile) {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    p:not([class]) {
        margin: 0;
        margin-bottom: 1.5rem;
        @include breakpoint(small-mobile) {
            margin-bottom: 1rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.text__article-speakers-item-image {
    width: 48.7rem;
    flex-shrink: 0;
    height: auto;
    position: static;
    left: 0;
    bottom: 0;
    @include objectFitContain();
    max-height: 90%;
    align-self: flex-end;

    @include breakpoint(small-mobile) {
        width: 80%;
        order: 1;
        align-self: initial;
        margin: 0 auto;
    }
}

.text__article-gallery-block {
    margin: 9rem 0;
    font-family: var(--helios);

    @include breakpoint(small-mobile) {
        margin: 4rem 0;
    }
}

.text__article-gallery-block-heading {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 2.4rem;
    font-weight: 700;

    @include breakpoint(small-mobile) {
        font-size: 1.8rem;
        line-height: 1.3;
        margin-bottom: 1.5rem;
    }
}

.text__article-gallery-block-main-slider-card-image-container {
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }
}

.text__article-gallery-block-main-slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.text__article-gallery-block-main-slider {
    margin-bottom: 22px;
    position: relative;
    @include breakpoint(small-mobile) {
        margin-bottom: 14px;
    }
}

.text__article-gallery-block-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: opacity 0.2s;
    z-index: 40;

    @include breakpoint(small-mobile) {
        display: none;
    }
    svg {
        fill: white;
        width: 2rem;
        height: 3rem;
        flex-shrink: 0;
        display: block;
        transition: fill 0.2s;
    }

    &--prev {
        left: 4rem;
    }

    &--next {
        right: 4rem;
        left: auto;
    }

    &.swiper-button-disabled {
        opacity: 0.5;
        cursor: default;
    }

    &:not(.swiper-button-disabled) {
        &:hover {
            svg {
                fill: var(--primary-color);
            }
        }
    }
}

.text__article-gallery-block-thumbs-slider {
    .swiper-slide {
        width: 20%;
    }
}

.text__article-gallery-block-main-slider-card-image-container {
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 100%;

        padding-bottom: 50%;

        @include breakpoint(small-mobile) {
            padding-bottom: 56.25%;
        }
    }

    .text__article-gallery-block-main-slider-card--video & {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(black, 0.6);
            z-index: 40;
        }

        &:hover {
            .icon-play-simple {
                transform: translate(-50%, -50%) scale(1.05);
            }
        }
    }

    .icon-play-simple {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 100;
        width: 7.5rem;
        height: 8rem;
        fill: white;
        transform: translate(-50%, -50%);
        transition: transform 0.2s;

        @include breakpoint(small-mobile) {
            width: 4rem;
            height: 4rem;
        }
    }
}

.text__article-gallery-block-thumbs-slider-card {
    cursor: pointer;
}

.text__article-gallery-block-main-slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.text__article-gallery-block-thumbs-slider-card-image-container {
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        border: 4px solid var(--primary-color);
        opacity: 0;
        transition: opacity 0.2s;
        @include breakpoint(small-mobile) {
            border-width: 3px;
        }
    }

    .icon-play-simple {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 100;
        width: 4.2rem;
        height: 4.8rem;
        fill: white;
        transform: translate(-50%, -50%);
        transition: transform 0.2s;

        @include breakpoint(small-mobile) {
            width: 2rem;
            height: 2rem;
        }
    }

    .swiper-slide-thumb-active & {
        &::before {
            opacity: 1;
        }
    }
}

.text__article-gallery-block-thumbs-slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.text__article-video-block {
    margin: 9rem 0;
    font-family: var(--helios);

    @include breakpoint(small-mobile) {
        margin: 4rem 0;
    }
}

.text__article-video-block-heading {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 2.4rem;
    font-weight: 700;

    @include breakpoint(small-mobile) {
        font-size: 1.8rem;
        line-height: 1.3;
        margin-bottom: 1.5rem;
    }
}
