@font-face {
    font-family: 'PingFang SC';
    src: url('../assets/fonts/SFProPingFangSC-Semibold.woff2') format('woff2'),
        url('../assets/fonts/SFProPingFangSC-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PingFang SC';
    src: url('../assets/fonts/SFProPingFangSC-Semibold.woff2') format('woff2'),
        url('../assets/fonts/SFProPingFangSC-Semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aqum';
    src: url('../assets/fonts/Aqum.woff2') format('woff2'),
        url('../assets/fonts/Aqum.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeliosExtC';
    src: url('../assets/fonts/HeliosExtC.woff2') format('woff2'),
        url('../assets/fonts/HeliosExtC.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeliosExtC';
    src: url('../assets/fonts/HeliosExtC-Bold.woff2') format('woff2'),
        url('../assets/fonts/HeliosExtC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


// @font-face {
//     font-family: 'HeliosC';
//     src: url('../assets/fonts/HeliosCondLight.woff2') format('woff2'),
//         url('../assets/fonts/HeliosCondLight.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'HeliosC';
//     src: url('../assets/fonts/HeliosCond.woff2') format('woff2'),
//         url('../assets/fonts/HeliosCond.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }


@font-face {
    font-family: 'Helios';
    src: url('../assets/fonts/HeliosLight.woff2') format('woff2'),
        url('../assets/fonts/HeliosLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Helios';
    src: url('../assets/fonts/Helios.woff2') format('woff2'),
        url('../assets/fonts/Helios.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

